In [43]:
#Data Structure 
tag_sp=["INDI", "FAM"]
tag_zero=["HEAD", "TRLR", "NOTE"]
tag_one=["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
tag_fam={"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}

In [44]:
def isDateP(A):
    return A[1] in tag_fam["DATE"]

In [45]:
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [46]:
def convert_date(date_arr):
    return date_arr[2] + "-" + month_to_num(date_arr[1]) + "-" + date_arr[0]

In [56]:
from datetime import datetime

def determine_age(birth_date, death_date):
    if death_date:
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0])

In [57]:
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False
    with open(file) as f:
        for line in f:
            A=line.strip().split(" ")
            if len(A)==3 and A[0]=='0' and A[2]== "INDI":
                if dic:
                    if fam == 'INDI':
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                        else:
                            age = determine_age(dic['BIRT'], None)
                        dic['Age'] = age
                    doc[fam].append(dic)
                fam="INDI"
                dic={}
                dic["INDI"]=A[1]
            elif len(A)==3 and A[0]=='0' and A[2]=="FAM":
                if dic:
                    doc[fam].append(dic) 
                fam="FAM"
                dic={}
                dic["FAM"]=A[1]
            elif (A[1]=="DATE" and flag):
                flag=False
                date_arr = A[2:]
                dic[tmp]= convert_date(date_arr)
                # TODO add function to convert date
            elif A[0]=='1' and A[1] in tag_one:
                if (isDateP(A)):
                    tmp=A[1]
                    flag=True
                else:
                    dic[A[1]]=' '.join(A[2:])
        return doc

In [58]:
document= read_in("./myTest.ged")

In [59]:
if "DEAT" not in document["INDI"][3]:
    print(1)

In [60]:
document

{'FAM': [{'CHIL': '@I1@',
   'FAM': '@F1@',
   'HUSB': '@I2@',
   'MARR': '1990-4-11',
   'WIFE': '@I3@'},
  {'CHIL': '@I2@', 'FAM': '@F2@', 'HUSB': '@I4@', 'WIFE': '@I5@'},
  {'CHIL': '@I3@',
   'FAM': '@F3@',
   'HUSB': '@I6@',
   'MARR': '1964-5-5',
   'WIFE': '@I7@'}],
 'INDI': [{'Age': 25,
   'BIRT': '1994-10-27',
   'FAMC': '@F1@',
   'INDI': '@I1@',
   'NAME': 'John /Potter/',
   'SEX': 'M'},
  {'Age': 52,
   'BIRT': '1967-7-1',
   'FAMC': '@F2@',
   'FAMS': '@F1@',
   'INDI': '@I2@',
   'NAME': 'Chandler /Potter/',
   'SEX': 'M'},
  {'Age': 51,
   'BIRT': '1968-6-15',
   'FAMC': '@F3@',
   'FAMS': '@F1@',
   'INDI': '@I3@',
   'NAME': 'Monica /Scott/',
   'SEX': 'F'},
  {'Age': 75,
   'BIRT': '1930-11-3',
   'DEAT': '2005-11-16',
   'FAMS': '@F2@',
   'INDI': '@I4@',
   'NAME': 'Ross /Potter/',
   'SEX': 'M'},
  {'Age': 80,
   'BIRT': '1939-3-18',
   'FAMS': '@F2@',
   'INDI': '@I5@',
   'NAME': 'Rachel /Halpert/',
   'SEX': 'F'},
  {'Age': 83,
   'BIRT': '1936-9-5',
   'FAMS': '@F3@',
   'INDI': '@I6@',
   'NAME': 'Sid /Scott/',
   'SEX': 'M'},
  {'Age': 83,
   'BIRT': '1936-12-7',
   'FAMS': '@F4@',
   'INDI': '@I7@',
   'NAME': 'Pam /Malone/',
   'SEX': 'F'},
  {'Age': 76,
   'BIRT': '1932-9-5',
   'DEAT': '2008-6-5',
   'FAMS': '@F4@',
   'INDI': '@I8@',
   'NAME': 'Roy /Shrute/',
   'SEX': 'M'},
  {'BIRT': '1960-4-4',
   'FAMC': '@F4@',
   'INDI': '@I9@',
   'NAME': 'April /Dwyer/',
   'SEX': 'F'}]}