In [100]:
#Data Structure 
tag_sp=["INDI", "FAM"]
tag_zero=["HEAD", "TRLR", "NOTE"]
tag_one=["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
tag_fam={"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}

In [101]:
def isDateP(A):
    return A[1] in tag_fam["DATE"]

In [102]:
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [103]:
def convert_date(date_arr):
    return "{}-{}-{}".format(date_arr[2], month_to_num(date_arr[1]), date_arr[0])

In [104]:
from datetime import datetime

def determine_age(birth_date, death_date):
    if death_date:
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0])

In [105]:
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False
    with open(file) as f:
        for line in f:
            A=line.strip().split(" ")
            if len(A)==3 and A[0]=='0' and A[2]== "INDI":
                if dic:
                    if fam == 'INDI':
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                            alive = False
                        else:
                            age = determine_age(dic['BIRT'], None)
                            alive = True
                            dic['DEAT'] = 'NA'
                        dic['Age'] = age
                        dic['Alive']= alive
                    doc[fam].append(dic)
                fam="INDI"
                dic={}
                dic["INDI"]=A[1]
            elif len(A)==3 and A[0]=='0' and A[2]=="FAM":
                if dic:
                    doc[fam].append(dic) 
                fam="FAM"
                dic={}
                dic["FAM"]=A[1]
            elif (A[1]=="DATE" and flag):
                flag=False
                date_arr = A[2:]
                dic[tmp]= convert_date(date_arr)
            elif A[0]=='1' and A[1] in tag_one:
                if (isDateP(A)):
                    tmp=A[1]
                    flag=True
                else:
                    if A[1] == 'CHIL':
                        children = dic["Children"] if "Children" in dic else []
                        children.append(A[2])
                        dic["Children"] = children
                    if  A[1] == 'FAMC' or A[1] == 'FAMS':
                        child = dic["Child"] if "Child" in dic else []
                        spouse = dic["Spouse"] if "Spouse" in dic else []
                        if A[1] == 'FAMC':
                            child.append(A[2])
                        else:
                            spouse.append(A[2])
                        dic['Child'] = child
                        dic['Spouse'] = spouse
                    else:
                        dic[A[1]]=' '.join(A[2:])
        return doc

In [106]:
document= read_in("./myTest.ged")

In [107]:
document

{'FAM': [{'CHIL': '@I10@',
   'Children': ['@I1@', '@I10@'],
   'FAM': '@F1@',
   'HUSB': '@I2@',
   'MARR': '1990-4-11',
   'WIFE': '@I3@'},
  {'CHIL': '@I2@',
   'Children': ['@I2@'],
   'FAM': '@F2@',
   'HUSB': '@I4@',
   'WIFE': '@I5@'},
  {'CHIL': '@I3@',
   'Children': ['@I3@'],
   'FAM': '@F3@',
   'HUSB': '@I6@',
   'MARR': '1964-5-5',
   'WIFE': '@I7@'}],
 'INDI': [{'Age': 25,
   'Alive': True,
   'BIRT': '1994-10-27',
   'Child': ['@F1@'],
   'DEAT': 'NA',
   'INDI': '@I1@',
   'NAME': 'John /Potter/',
   'SEX': 'M',
   'Spouse': []},
  {'Age': 52,
   'Alive': True,
   'BIRT': '1967-7-1',
   'Child': ['@F2@'],
   'DEAT': 'NA',
   'INDI': '@I2@',
   'NAME': 'Chandler /Potter/',
   'SEX': 'M',
   'Spouse': ['@F1@']},
  {'Age': 51,
   'Alive': True,
   'BIRT': '1968-6-15',
   'Child': ['@F3@'],
   'DEAT': 'NA',
   'INDI': '@I3@',
   'NAME': 'Monica /Scott/',
   'SEX': 'F',
   'Spouse': ['@F1@']},
  {'Age': 75,
   'Alive': False,
   'BIRT': '1930-11-3',
   'Child': [],
   'DEAT': '2005-11-16',
   'INDI': '@I4@',
   'NAME': 'Ross /Potter/',
   'SEX': 'M',
   'Spouse': ['@F2@']},
  {'Age': 80,
   'Alive': True,
   'BIRT': '1939-3-18',
   'Child': [],
   'DEAT': 'NA',
   'INDI': '@I5@',
   'NAME': 'Rachel /Halpert/',
   'SEX': 'F',
   'Spouse': ['@F2@']},
  {'Age': 83,
   'Alive': True,
   'BIRT': '1936-9-5',
   'Child': [],
   'DEAT': 'NA',
   'INDI': '@I6@',
   'NAME': 'Sid /Scott/',
   'SEX': 'M',
   'Spouse': ['@F3@']},
  {'Age': 83,
   'Alive': True,
   'BIRT': '1936-12-7',
   'Child': [],
   'DEAT': 'NA',
   'INDI': '@I7@',
   'NAME': 'Pam /Malone/',
   'SEX': 'F',
   'Spouse': ['@F3@', '@F4@']},
  {'Age': 76,
   'Alive': False,
   'BIRT': '1932-9-5',
   'Child': [],
   'DEAT': '2008-6-5',
   'INDI': '@I8@',
   'NAME': 'Roy /Shrute/',
   'SEX': 'M',
   'Spouse': ['@F4@']},
  {'Age': 59,
   'Alive': True,
   'BIRT': '1960-4-4',
   'Child': ['@F4@'],
   'DEAT': 'NA',
   'INDI': '@I9@',
   'NAME': 'April /Dwyer/',
   'SEX': 'F',
   'Spouse': []},
  {'BIRT': '1995-3-3',
   'Child': ['@F1@'],
   'INDI': '@I10@',
   'NAME': 'Harry /Potter/',
   'SEX': 'M',
   'Spouse': []}]}