In [1]:
# All the file imports
!pip install prettytable
from datetime import datetime
from prettytable import PrettyTable
import os

Requirement already satisfied: prettytable in /anaconda3/lib/python3.6/site-packages (0.7.2)
smart-open 1.7.1 requires bz2file, which is not installed.
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
def isDateParent(A):
    return A[1] in tag_fam["DATE"]

In [3]:
# Convert month string to month number
# :param month for which we need the number
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [4]:
# Convert input date to standard format
# :param date array in input
def convert_date(date_arr):
    return "{}-{}-{}".format(date_arr[2], month_to_num(date_arr[1]), date_arr[0])

In [5]:
# Determine age based on birthdate and death date
# If death date is not present then function uses the current date as a comparison
def determine_age(birth_date, death_date):
    birth_month= birth_date.split('-')[1]
    birth_day= birth_date.split('-')[2]
    
    if death_date:
        death_month=death_date.split('-')[1]
        death_day=death_date.split('-')[2]
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])-((int(death_month), int(death_day))< (int(birth_month), int(birth_day)))
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0]) - ((today.month, today.day) < (int(birth_month), int(birth_day)))

In [6]:
# Determine days difference
# For US 08 and 09
def determine_days(date1, date2):
    year1=int(date1.split('-')[0])
    month1= int(date1.split('-')[1])
    day1= int(date1.split('-')[2])
    
    year2=int(date2.split('-')[0])
    month2= int(date2.split('-')[1])
    day2= int(date2.split('-')[2])
    
    return (year2 - year1) * 365 + (month2 - month1)* 30 + day2- day1

In [7]:
def find_name(arr, _id):
    #takes array of dict objects
    for indi in arr:
        if _id == indi["INDI"]:
            return indi["NAME"]

In [8]:
# create dictionary entry for the passed tag
# :param current_arr is the current array line being processed
# :param tag can will be either FAM or INDI
def create_dic_entry(current_arr, tag):
    current_tag=tag
    dic={}
    dic[tag]=current_arr[1]
    return dic, current_tag

In [9]:
# Adds missing tags with "NA"
def add_missing_entries(dic):
    if "DIV" not in dic:
        dic["DIV"] = "NA"
    if "HUSB" not in dic:
        dic["HUSB"] = "NA"
    if "HUSB_NAME" not in dic:
        dic["HUSB_NAME"] = "NA"
    if "WIFE" not in dic:
        dic["WIFE"] = "NA"
    if "WIFE_NAME" not in dic:
        dic["WIFE_NAME"] = "NA"
    if "FAM_CHILD" not in dic:
        dic["FAM_CHILD"] = "NA"
    if "MARR" not in dic:
        dic["MARR"] = "NA"

In [10]:
# Checking if one date is after another
# :param date_one is the date being compared with
# :param date_two is the date being compared t0
def is_date_after(date_one, date_two):
    return date_one < date_two

In [11]:
# Create map of individuals where key is the individual id and
# individual object is the  value
def create_individuals_map():
    global individuals
    individuals = {}
    for individual in document["INDI"]:
        individuals[individual["INDI"]] = individual

In [12]:
# Creating a family dictionary with the key as the family id and the value as the
# information about the family and the objects corresponding to husband, wife and children
def create_family_dic():
    global family_dic
    family_dic = {}
    for family in document["FAM"]:
        if family["HUSB"] != "NA" and family["HUSB"] in individuals:
            family["husband_object"] = individuals[family["HUSB"]]
        if family["WIFE"] != "NA" and family["WIFE"] in individuals:
            family["wife_object"] = individuals[family["WIFE"]]
        if family["FAM_CHILD"] != "NA":
            children = []
            for child in family["FAM_CHILD"]:
                children.append(individuals[child])
            family["children_objects"] = children
        family_dic[family["FAM"]] = family

In [13]:
# Reads the input GEDCOM file line by line and store the data into the dictionary
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False #indicates whether the correct tag has appeared before DATE tag
    with open(file) as f:
        all_lines=f.readlines()
        line_num = 1; #line number of each 
        for line, next_line in zip(all_lines, all_lines[1:]):
            current_arr=line.strip().split(" ")
            next_arr=next_line.strip().split(" ")
            #if the current tag is individual
            if len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]== "INDI":
                #inserts individual's ID into the dictionary
                dic, current_tag=create_dic_entry(current_arr, "INDI") 
                #inserts line number
                dic["INDI_LINE"] = line_num
            #if the current tag is family
            elif len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]=="FAM": 
                dic, current_tag=create_dic_entry(current_arr, "FAM")
                #inserts line number
                dic["FAM_LINE"] = line_num
            #if the current tag is date
            elif current_arr[1]=="DATE" and flag:
                flag=False
                date_arr = current_arr[2:] #extracts the date argument from the line
                dic[tmp]= convert_date(date_arr) #converts the date into correct format
            #determines if the tag level is correct
            elif current_arr[0]=='1' and current_arr[1] in tag_one:
            #"NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"
                if (isDateParent(current_arr)): #determines whether the current tag is parent of DATE tag
                    tmp=current_arr[1] #extracts the tag name
                    flag=True
                    #inserts line number
                    dic[tmp + "_LINE"] = line_num
                else: 
                    #current tag is not the parent tag of DATE tag
                    if current_arr[1] == "HUSB":
                        dic["HUSB_NAME"]=find_name(doc["INDI"], current_arr[2])
                        #inserts line number
                        dic["HUSB_LINE"] = line_num
                    if current_arr[1] == "WIFE":
                        dic["WIFE_NAME"]=find_name(doc["INDI"], current_arr[2])
                        #inserts line number
                        dic["WIFE_LINE"] = line_num
                    if current_arr[1] == 'CHIL':
                        #INDI_CHILD indicates all the children within a family
                        children = dic["FAM_CHILD"] if "FAM_CHILD" in dic else []
                        children.append(current_arr[2])
                        dic["FAM_CHILD"] = children
                        #inserts line number
                        dic["CHIL_LINE_" + current_arr[2]] = line_num
                    if current_arr[1] == 'FAMC' or current_arr[1] == 'FAMS':
                        child = dic["INDI_CHILD"] if "INDI_CHILD" in dic else []
                        spouse = dic["SPOUSE"] if "SPOUSE" in dic else []
                        child.append(current_arr[2]) if current_arr[1] == 'FAMC' else spouse.append(current_arr[2])
                        dic['INDI_CHILD'] = child #FAM_CHILD indicates which family this individual belongs to
                        dic['SPOUSE'] = spouse
                        #inserts line number
                        dic[current_arr[1] + "_LINE"] = line_num
                    else: #other type of tag
                        dic[current_arr[1]]=' '.join(current_arr[2:])
                        #inserts line number
                        dic[current_arr[1] + "_LINE"] = line_num
            #TRLR ==> end of the GEDCOM file
            if (len(next_arr)==3 and next_arr[0]=='0' and next_arr[2] in tag_sp) or next_arr[1]=="TRLR":
                if dic: #if the dic exists or not
                    if current_tag == 'INDI': #under individual tag?
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                            alive = False
                        else:
                            age = determine_age(dic['BIRT'], None)
                            alive = True
                            dic['DEAT'] = "NA"
                        dic["AGE"] = str(age)
                        dic['ALIVE']= alive
                        if not dic["SPOUSE"]:
                            dic["SPOUSE"] = "NA"
                        elif not dic["INDI_CHILD"]:
                            dic["INDI_CHILD"] = "NA"
                    if current_tag == 'FAM':
                        add_missing_entries(dic)
                    doc[current_tag].append(dic) 
            line_num += 1 #increments the line counter by 1
        return doc

In [14]:
# USID: 01
# The Dates we need to check includes: birth, marriage, divorce, death
# Birth always exists, the rests we need to check for NA
# Iteration through individuals and family
def validate_dates():
    for family in family_dic.values():
        if family["MARR"] !="NA":
            if(determine_age(family["MARR"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: {}: Family has marrige date {} later than today".format(family["MARR_LINE"], family["FAM"], family["MARR"]))
        if family["DIV"] != "NA":
            if(determine_age(family["DIV"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: {}: Family has divorce date {} later than today".format(family["MARR_LINE"], family["FAM"], family["DIV"]))     
    
    for indi in individuals.values():
        # for birthday simply check age
        if(determine_age(indi["BIRT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: {}: Individual has birth date {} later than today".format(family["MARR_LINE"], indi["INDI"], indi["BIRT"]))     
        if indi["DEAT"] != "NA":
            if(determine_age(indi["DEAT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: {}: Individual has death date {} later than today".format(family["MARR_LINE"], indi["INDI"], indi["DEAT"]))

In [15]:
#USID: 02
#
# This function checks if the birth of the person is before their 
# marriage date
# If birth of the person is after the marriage date then the error
# is appended to the error array
def is_birth_before_marraige():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "MARR" in family:
            marriage_date = family["MARR"];
            husband_birth_date = None;
            wife_birth_date = None;
            if "husband_object" in family and "BIRT" in family["husband_object"]:
                husband_birth_date = family["husband_object"]["BIRT"]
            else:
                continue;
            if "wife_object" in family and "BIRT" in family["wife_object"]:
                wife_birth_date = family["wife_object"]["BIRT"]
            else:
                continue;
            if is_date_after(marriage_date, husband_birth_date):
                error_array.append(("ERROR: INDIVIDUAL: US02: {}: {}: Person has marriage date {} before birth date {}")\
                                    .format(family['MARR_LINE'], family["husband_object"]["INDI"], marriage_date, husband_birth_date))
            if is_date_after(marriage_date, wife_birth_date):
                 error_array.append(("ERROR: INDIVIDUAL: US02: {}: {}: Person has marriage date {} before birth date {}")\
                                    .format(family['MARR_LINE'], family["wife_object"]["INDI"], marriage_date, wife_birth_date))

In [16]:
#USID: 07
def is_age_legal():
    for indi_id in individuals:
        indi=individuals[indi_id]
        if "AGE" in indi:
            age =indi["AGE"]
            if int(age) > 150:
                if indi["ALIVE"]:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: {}: More than 150 years old - Birth Date {}".format(indi["BIRT_LINE"], indi_id, indi["BIRT"]))
                else:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: {}: More than 150 years old at death - Birth Date {}: Death Date {}".format(indi["BIRT_LINE"], indi_id, indi["BIRT"], indi["DEAT"]))

In [17]:
#Birth before marriage of parents USID: 08
def birth_before_marriage():
    for family in family_dic.values():
        if "children_objects" in family:
            marriage_date=family['MARR']
            divorce_date=family["DIV"]
            for child in family["children_objects"]:
                if(marriage_date!= "NA"):
                    if(determine_days(marriage_date, child["BIRT"]) < 0):
                         anomaly_array.append("ANOMALY: INDIVIDUAL: US08: {}: {}: Child was born at {} before marriage of parents {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], marriage_date))
                if(divorce_date!= "NA"):
                    if(determine_days(divorce_date, child["BIRT"])/30 > 9):
                         anomaly_array.append("ANOMALY: INDIVIDUAL: US08: {}: {}: Child was born at {} after 9 month divorce of parents {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], divorce_date))

In [18]:
#Birth before death of parents USID: 09
def birth_before_death():
    for family in family_dic.values():
        if "children_objects" in family:
            if "husband_object" in family:
                husband_death=family["husband_object"]["DEAT"]
            if "wife_object" in family:
                wife_death=family["wife_object"]["DEAT"]
            for child in family["children_objects"]:
                if(wife_death!= "NA"):
                    if(determine_days(child["BIRT"], wife_death) < 0):
                        error_array.append("ERROR: INDIVIDUAL: US09: {}: {}: Child was born at {} after death of mother {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], wife_death))
                if(husband_death!= "NA"):
                    if(determine_days(husband_death, child["BIRT"])/30 > 9):
                        error_array.append("ERROR: INDIVIDUAL: US09: {}: {}: Child was born at {} after 9 month death of father {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], husband_death))

In [19]:
# USID: 10
def is_marriage_legal():
    for family_id in family_dic:
        if "MARR" in family_dic[family_id] and family_dic[family_id]["MARR"]!="NA":
            married_date=family_dic[family_id]["MARR"]
        if "husband_object" in family_dic[family_id]:
            husband=family_dic[family_id]["husband_object"]
            if int(determine_age(husband["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: {}: Father of family {} is younger than 14 years old - Birth Date {}".format(husband["BIRT_LINE"], husband["INDI"], family_id,husband["BIRT"]))
        if "wife_object" in family_dic[family_id]:
            wife=family_dic[family_id]["wife_object"]
            if int(determine_age(wife["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: {}: Wife of family {} is younger than 14 years old - Birth Date {}".format(wife["BIRT_LINE"], wife["INDI"], family_id, wife["BIRT"]))

In [20]:
# USID: 11
def check_for_bigamy():
    for individual_id in individuals:
        individual = individuals[individual_id]
        if "SPOUSE" in individual and individual["SPOUSE"] != 'NA':
            spouse_in_families = individual["SPOUSE"]
            if len(spouse_in_families) > 1:
                dates = []
                for family_id in spouse_in_families:
                    family = family_dic[family_id]
                    date = {}
                    if "MARR" in family and family["MARR"] != 'NA':
                        date["MARR"] = family["MARR"]
                    if "DIV" in family and family["DIV"] != 'NA':
                        date["DIV"] = family["DIV"]
                    elif "husband_object" in family and family["husband_object"] != 'NA':
                        if "DEAT" in family["husband_object"] and family["husband_object"]["DEAT"] != 'NA':
                            date["DIV"] = family["husband_object"]["DEAT"]
                    dates.append(date)
                if compare_marraige_dates(dates):
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US11: {}: {}: Performing bigamy".format(individual["INDI_LINE"], individual["INDI"]))

In [21]:
def compare_marraige_dates(dates):
    for i in range(0, len(dates)):
        dateOne = dates[i]
        for j in range(i + 1, len(dates)):
            dateTwo = dates[j]
            if "MARR" in dateOne and "DIV" in dateOne:
                if "MARR" in dateTwo:
                    if dateOne["MARR"] <= dateTwo["MARR"] < dateOne["DIV"]:
                        return True
                if "DIV" in dateTwo:
                    if dateOne["MARR"] < dateTwo["DIV"] < dateOne["DIV"]:
                        return True
            elif "MARR" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["MARR"] < dateTwo["DIV"]:
                        return True
                if "MARR" in dateTwo and dateOne["MARR"] <= dateTwo["MARR"]:
                    return True
                if "DIV" in dateTwo and dateOne["MARR"] < dateTwo["DIV"]:
                    return True
                if "MARR" in dateTwo and "DIV" not in dateTwo and dateTwo["MARR"] <= dateOne["MARR"]:
                    return True
            elif "DIV" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["DIV"] < dateTwo["DIV"]:
                        return True
    return False

In [22]:
# User Story: US15
def check_sibling_count():
    for family_id in family_dic:
        family = family_dic[family_id]
        if (len(family["FAM_CHILD"]) > 15):
            anomaly_array.append("ANOMALY: FAMILY: US16: {}: Family has {} siblings which is more than 15 siblings"\
                 .format(family_id, len(family["FAM_CHILD"])))

In [23]:
# Returns the lastname of the name
# Last name is surrounded by '/' in the name
# :param name is the full name of the person
def get_last_name(name):
    return name.split('/')[1];

In [24]:
# User story: US16
# This function goes over the family dictionary and 
# returns the array of family ids which contain males with different last name
# It uses the last name of the husband in the family as the initial reference
# 
# :returns array of family ids
def check_last_names():
    for family_id in family_dic:
        family = family_dic[family_id]
        last_name = None
        if "HUSB_NAME" in family:
            if family["HUSB_NAME"] != "NA":
                last_name = get_last_name(family["HUSB_NAME"])
            else:
                continue
        if "children_objects" in family:
            for child in family["children_objects"]:
                if child["SEX"] == "M":
                    if last_name is None:
                        last_name = get_last_name(child["NAME"])
                    else:
                        if last_name != get_last_name(child["NAME"]):
                            anomaly_array.append("ANOMALY: INDIVIDUAL: US16: {}: Individual has different last name {} than family {}" \
                                  .format(child["INDI"], get_last_name(child["NAME"]), last_name))

In [25]:
# User Story 17
def check_parent_child_marriage():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "HUSB" in family and family["HUSB"] != 'NA' and "WIFE" in family and family["WIFE"] != 'NA':
            if is_spouse_a_child(family["HUSB"], family["WIFE"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: {}: Individual married to child {}"\
                                     .format(family["HUSB_LINE"], family["HUSB"], family["WIFE"]))
            if is_spouse_a_child(family["WIFE"], family["HUSB"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: {}: Individual married to child {}"\
                                     .format(family["WIFE_LINE"], family["WIFE"], family["HUSB"]))

In [26]:
def is_spouse_a_child(individual_id, spouse_id):
    individual_object = individuals[individual_id]
    if 'SPOUSE' in individual_object and individual_object['SPOUSE'] != 'NA':
        for spouse_fam in individual_object['SPOUSE']:
            if spouse_fam in family_dic:
                family = family_dic[spouse_fam]
                if "FAM_CHILD" in family and spouse_id in family["FAM_CHILD"]:
                    return True
        return False

In [27]:
#USID: 23
def unique_name_and_birth():
    li = {}
    for value in individuals.values():
        temp = value["NAME"] + value["BIRT"]
        if temp in li:
            anomaly_array.append("ANOMALY: INDIVIDUAL: US23: {}: {}: Individuals have the same name {} and birth date {}".format(value["INDI"], li[temp], value["NAME"], value["BIRT"]))
        else:
            li[temp]=value["INDI"]

In [28]:
#USID: 25
def unique_family_name_and_birth():
    for value in family_dic.values():
        li = {}
        if "children_objects" in value:
            for child in value["children_objects"]:
                temp = child["NAME"] + child["BIRT"]
                if temp in li:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US25: {}: {}: Individuals share the same first name {} and birth date {} from family {}".format(child["INDI"], li[temp], child["NAME"], child["BIRT"], value["FAM"]))
                else:          
                    li[temp]=child["INDI"]

In [29]:
#User_Story_29: List all deceased individuals in a GEDCOM file
#Prints out a table with all the deceased people's information
def listDeceased():
    current_dic = {}
    deceased_count = 0
    for value in individuals.values():
        if(str(value["DEAT"]) != "NA" and (value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: Person is alive but has Death Date {}").format(value["NAME_LINE"], value["NAME"], value["DEAT"]))
        #print(("ERROR: INDIVIDUAL: US29: {}: Person is alive but has Death Date {}").format(value["NAME_LINE"], value["NAME"], value["DEAT"]))
        elif(str(value["DEAT"]) == "NA" and (not value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: {}: Person is dead but has no Death Date").format(value["INDI_LINE"], value["INDI"]));
        #print(("ERROR: INDIVIDUAL: US29: {}: {}: Person is dead but has no Death Date").format(value["INDI_LINE"], value["INDI"]))
        elif(not value["ALIVE"]):
            deceased_count += 1
            current_dic[value["INDI"]] = value    
    if deceased_count > 0:
        #print("User_Story_29: List all deceased individuals in a GEDCOM file")
        #Use pretty table module to print out the results
        allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death"]
        tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT"]
        printTable("US29: Deceased People Table", allFields, tagNames, current_dic)

In [30]:
#User_Story_30: List all living married people in a GEDCOM file
#Prints out a table with all the living married people's information
def listLivingMarried():
    current_dic = {}
    living_count = 0
    for value in individuals.values():
        if(value["ALIVE"] and value["SPOUSE"] != "NA"):
            current_dic[value["INDI"]] = value
            living_count += 1
        elif(not value["ALIVE"] and value["SPOUSE"] != "NA"):
            error_array.append("ERROR: INDIVIDUAL: US30: {}: {}: Deceased Person is married to Person {}".format(value["INDI_LINE"], value["INDI"], "".join(value["SPOUSE"])))
#             print("ERROR: INDIVIDUAL: US30: {}: {}: Deceased Person is married to Person {}".format(value["INDI_LINE"], value["INDI"], "".join(value["SPOUSE"])))
    if living_count > 0:
#         print("User_Story_30: List all living married people in a GEDCOM file")
        #Use pretty table module to print out the results
        allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Spouse"]
        tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "SPOUSE"]
        printTable("US30: Living & Married People Table", allFields, tagNames, current_dic)

In [31]:
# Prints out the Individual Table
def printIndividualTable():
    #print("People Table")
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Child", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "INDI_CHILD", "SPOUSE"]
    
    printTable("People Table", allFields, tagNames, individuals)

In [32]:
# Prints out the Family Table
def printFamilyTable():
    #print("Families Table")
    allFields = ["ID", "Married", "Divorced", "Husband ID", "Husband Name", "Wife ID", "Wife Name", "Children"]
    tagNames = ["FAM", "MARR", "DIV", "HUSB", "HUSB_NAME", "WIFE", "WIFE_NAME", "FAM_CHILD"]
    
    printTable("Families Table", allFields, tagNames, family_dic)

In [33]:
# Prints out the data in both error and anomaly arrays
def printError():
    file = open("cs555_sprint_outputs.txt", "a")
    if (len(error_array) > 0):
        print("------error messages------")
        file.write("------error messages------" + "\n")
        for error in error_array:
            print(error)
            file.write(error + "\n")
    if(len(anomaly_array) > 0):
        print("-----anomaly messages-----")
        file.write("-----anomaly messages-----" + "\n")
        for anomaly in anomaly_array:
            print(anomaly)
            file.write(anomaly + "\n")
    file.close()

In [34]:
# Prints out a table of dictionary data with the passed-in arguments
# Parameters:
# fields: a list of fields for the table
# tag_names: tag names used to access each data field
# dictionary: a dictionary filled with data
def printTable(table_name, fields, tag_names, dictionary):
    print(table_name)
    table = PrettyTable()
    table.field_names = fields
    for element in dictionary.values():    
        count = 1
        row_data = "" #string uses to store each tag within the current element
        for name in tag_names:
            if (count < int(len(tag_names))): #not the last element
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]) + "? ")
                else: #current element is not an array
                    row_data += (str(element[name]) + "? ")
            elif (count == int(len(tag_names))):
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]))
                else: #current element is not an array
                    row_data += (str(element[name]))
                break
            count+= 1;
        table.add_row(row_data.split('?'))
    # Stores outputs to a text file
    storeResults(table_name, table.get_string())
    print(table)

In [35]:
# Stores all Project outputs into a single text file
# Parameters:
# result_name: name that will appear 
def storeResults(result_name, outputs):
    file = open("cs555_sprint_outputs.txt", "a")
    file.write(result_name + "\n")
    file.write(outputs + "\n\n")
    file.close()

In [36]:
# Global variables initialization
tag_sp = ["INDI", "FAM"]
#Level Zero Tags
tag_zero = ["HEAD", "TRLR", "NOTE"]
#Level One Tags
tag_one = ["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
#Level Zero Tags
tag_fam = {"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}
family_dic = None
individuals = None
error_array = []
anomaly_array = []

In [37]:
#User_Story_20 Aunts and uncles
#Aunts and uncles should not marry their nieces or nephews
def is_uncle_aunt_marriage_legal():
    for indi in individuals.values(): #scans through each individual first
        current_sp = indi["SPOUSE"] #Array of spouse's family IDs
        current_fm = indi["INDI_CHILD"] #gets the family ID that the person belongs to
        if (current_sp != "NA" and current_fm != "NA"): #if the person has a spouse
            for fam_id in current_fm: #scans through uncle's families
                current_family = family_dic[fam_id]
                current_siblings = current_family["children_objects"] #get the uncle's siblings
                for child in current_siblings: #scans through all siblings
                    child_spouses = child["SPOUSE"]
                    if (child_spouses != "NA"):
                        for spouse in child_spouses:
                            spouse_family = family_dic[spouse]
                            for sp in current_sp:
                                if (family_dic[sp]["WIFE"] in spouse_family["FAM_CHILD"]):
                                    current_sp_family = family_dic[sp].values()
#                                     print("Anomaly: FAMILY: US20: {}: Person {} should not marry person {}".format(family_dic[sp]["HUSB_LINE"], family_dic[sp]["HUSB"], family_dic[sp]["WIFE"]))
                                    anomaly_array.append("ANOMALY: FAMILY: US20: {}: Person {} should not marry person {}".format(family_dic[sp]["HUSB_LINE"], family_dic[sp]["HUSB"], family_dic[sp]["WIFE"]))
                                    return False
                                elif(family_dic[sp]["HUSB"] in spouse_family["FAM_CHILD"]):
#                                     print("Anomaly: FAMILY: US20: {}: Person {} should not marry person {}".format(family_dic[sp]["WIFE_LINE"], family_dic[sp]["WIFE"], family_dic[sp]["HUSB"]))
                                    anomaly_array.append("ANOMALY: FAMILY: US20: {}: Person {} should not marry person {}".format(family_dic[sp]["WIFE_LINE"], family_dic[sp]["WIFE"], family_dic[sp]["HUSB"]))
                                    return False
    return True

In [38]:
document = read_in("./acceptance_test_file.ged")
if os.path.exists("cs555_sprint_outputs.txt"):
    os.remove("cs555_sprint_outputs.txt")

create_individuals_map()
create_family_dic()
# Prints out all the people in GEDCOM file
printIndividualTable()
# Prints out all the families in GEDCO file
printFamilyTable()
#User 01
validate_dates()
#User_Story_02
is_birth_before_marraige()
#User 07
is_age_legal()
#User 08
birth_before_marriage()
#User 09
birth_before_death()
#User 10
is_marriage_legal()
#User 15
check_sibling_count()
#User 16
check_last_names()
#User_Story_20
is_uncle_aunt_marriage_legal()
#User 23
unique_name_and_birth()
#User 25
unique_family_name_and_birth()
#User_Story_29
listDeceased()
#User_Story_30
listLivingMarried()

#Prints out all the errors and anomalies of each function
printError()

People Table
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    | Child  |       Spouse       |
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  15  |  False |  1974-6-20 |  @F2@  |        @F1@        |
|  @I2@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True  |     NA     |  @F3@  |        @F2@        |
|  @I3@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True  |     NA     |   NA   |        @F2@        |
|  @I4@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True  |     NA     |  @F2@  |        @F4@        |
|  @I5@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |  @F2@  |        @F5@        |
|  @I6@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True  |     NA     |   NA   |        @F1@        |
|  @I7@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True  |     NA     |  @F1@  |        @F6@        |
|  @I8@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True  |     NA     |   NA   |   @F5@,@F7@,@F8@   |
|  @I9@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True  |     NA     |   NA   |        @F7@        |
| @I10@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True  |     NA     |  @F5@  |         NA         |
| @I11@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F7@  |         NA         |
| @I12@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True  |     NA     |   NA   |        @F6@        |
| @I13@ |     Beth /Venzon/    |    F   |   1975-7-8  |  44  |  True  |     NA     |  @F1@  |         NA         |
| @I14@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True  |     NA     |  @F2@  |        @F9@        |
| @I15@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True  |     NA     |   NA   |        @F9@        |
| @I16@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True  |     NA     |   NA   |        @F3@        |
| @I17@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True  |     NA     |   NA   |        @F3@        |
| @I18@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |  @F3@  |         NA         |
| @I19@ |   Wilber /Iglesias/  |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F7@  |         NA         |
| @I20@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True  |     NA     |  @F3@  |        @F4@        |
| @I21@ |     Regena /Ali/     |    F   |   1820-10-8 |  199 |  True  |     NA     |  @F3@  |         NA         |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True  |     NA     |  @F3@  |     @F10@,@F11@    |
| @I23@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |  @F3@  |         NA         |
| @I24@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True  |     NA     |  @F3@  |        @F12@       |
| @I25@ |   Hailey /Malagon/   |    F   |   1938-10-8 |  19  |  False |  1958-9-18 |  @F3@  |        @F13@       |
| @I26@ |   Milford /Malagon/  |    M   |   1939-11-8 |  79  |  True  |     NA     |  @F3@  |         NA         |
| @I27@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True  |     NA     |  @F3@  |  @F14@,@F15@,@F16@ |
| @I28@ |   Deeann /Malagon/   |    F   |  1941-10-23 |  77  |  True  |     NA     |  @F3@  |         NA         |
| @I29@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True  |     NA     |  @F3@  |        @F17@       |
| @I30@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@  |         NA         |
| @I31@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F3@  |        @F10@       |
| @I32@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@  |         NA         |
| @I33@ |    Loyd /Malagon/    |    M   |   1965-8-9  |  54  |  True  |     NA     |  @F3@  |         NA         |
| @I34@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True  |     NA     |   NA   |        @F11@       |
| @I35@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F11@ |        @F17@       |
| @I36@ |       Kay /Ali/      |    M   |   1950-9-9  |  69  |  True  |     NA     |   NA   |        @F12@       |
| @I37@ |  Calfuray /Malagon/  |    F   |   1980-9-9  |  39  |  True  |     NA     |  @F12@ |         NA         |
| @I38@ |     Vasu /Zdenek/    |    M   |   1940-8-9  |  79  |  True  |     NA     |   NA   |        @F13@       |
| @I39@ |      Yam /Tarah/     |    M   |   1941-9-9  |  78  |  True  |     NA     |   NA   |        @F15@       |
| @I40@ |    Petros /Ganesh/   |    M   |  1942-10-10 |  77  |  True  |     NA     |   NA   |        @F16@       |
| @I41@ |    Renate /Giotto/   |    M   |   1943-10-9 |  76  |  True  |     NA     |   NA   |        @F14@       |
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
Families Table
+-------+------------+------------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
|   ID  |  Married   |  Divorced  | Husband ID |    Husband Name    | Wife ID |      Wife Name       |                                             Children                                            |
+-------+------------+------------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
|  @F1@ |  1970-7-7  |     NA     |    @I6@    |   Samuel /Venzon/  |   @I1@  |  Willodean /Malagon/ |                                            @I7@,@I13@                                           |
|  @F2@ |  1947-9-17 |     NA     |    @I2@    |  Stephan /Malagon/ |   @I3@  |  Laverna /Leonhardt/ |                                       @I1@,@I4@,@I5@,@I14@                                      |
|  @F3@ |  1925-4-28 |     NA     |    @I16@   |  Johnny /Malagon/  |   @I17@ |     Lura /Lomas/     |  @I2@,@I18@,@I20@,@I21@,@I22@,@I23@,@I24@,@I25@,@I26@,@I27@,@I28@,@I29@,@I30@,@I31@,@I32@,@I33@ |
|  @F4@ |     NA     |     NA     |    @I4@    |    Ken /Malagon/   |   @I20@ |   Lucile /Malagon/   |                                                NA                                               |
|  @F5@ |  1978-9-2  |     NA     |    @I5@    |   Josh /Malagon/   |   @I8@  |    Cinda /Burgard/   |                                               @I10@                                             |
|  @F7@ |  1985-4-5  |     NA     |    @I9@    |  Jerrell /Finklea/ |   @I8@  |    Cinda /Burgard/   |                                            @I11@,@I19@                                          |
|  @F8@ |     NA     |     NA     |     NA     |         NA         |   @I8@  |    Cinda /Burgard/   |                                                NA                                               |
|  @F6@ |     NA     |     NA     |    @I7@    |    Byron /Vezon/   |   @I12@ |    Shyla /Bertone/   |                                                NA                                               |
|  @F9@ |  1968-6-4  |     NA     |    @I14@   |   Jacob /Malagon/  |   @I15@ |  Jaqueline /Kindel/  |                                                NA                                               |
| @F10@ |     NA     |     NA     |    @I22@   |    Tom /Malagon/   |   @I31@ |    Sock /Malagon/    |                                                NA                                               |
| @F11@ |  1945-8-5  |  1956-7-7  |    @I22@   |    Tom /Malagon/   |   @I34@ |    Kitty /Malagon/   |                                               @I35@                                             |
| @F12@ |  1957-5-5  |  1958-10-9 |    @I36@   |      Kay /Ali/     |   @I24@ |    Shena /Malagon/   |                                               @I37@                                             |
| @F13@ |  1959-5-4  |     NA     |    @I38@   |    Vasu /Zdenek/   |   @I25@ |   Hailey /Malagon/   |                                                NA                                               |
| @F14@ |  1963-11-3 |     NA     |    @I41@   |   Renate /Giotto/  |   @I27@ |   Rashida /Malagon/  |                                                NA                                               |
| @F15@ |  1960-5-4  |     NA     |    @I39@   |     Yam /Tarah/    |   @I27@ |   Rashida /Malagon/  |                                                NA                                               |
| @F16@ |  1962-5-5  |     NA     |    @I40@   |   Petros /Ganesh/  |   @I27@ |   Rashida /Malagon/  |                                                NA                                               |
| @F17@ |  1980-5-6  |     NA     |    @I29@   |   Dario /Malagon/  |   @I35@ |    Sock /Malagon/    |                                                NA                                               |
+-------+------------+------------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
US29: Deceased People Table
+-------+----------------------+--------+-------------+------+--------+------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    |
+-------+----------------------+--------+-------------+------+--------+------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  15  |  False |  1974-6-20 |
|  @I5@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |
| @I18@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |
| @I23@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |
| @I25@ |   Hailey /Malagon/   |    F   |   1938-10-8 |  19  |  False |  1958-9-18 |
+-------+----------------------+--------+-------------+------+--------+------------+
US30: Living & Married People Table
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive | Death |       Spouse       |
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
|  @I2@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True |   NA  |        @F2@        |
|  @I3@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True |   NA  |        @F2@        |
|  @I4@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True |   NA  |        @F4@        |
|  @I6@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True |   NA  |        @F1@        |
|  @I7@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True |   NA  |        @F6@        |
|  @I8@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True |   NA  |   @F5@,@F7@,@F8@   |
|  @I9@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True |   NA  |        @F7@        |
| @I12@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True |   NA  |        @F6@        |
| @I14@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True |   NA  |        @F9@        |
| @I15@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True |   NA  |        @F9@        |
| @I16@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True |   NA  |        @F3@        |
| @I17@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True |   NA  |        @F3@        |
| @I20@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True |   NA  |        @F4@        |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True |   NA  |     @F10@,@F11@    |
| @I24@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True |   NA  |        @F12@       |
| @I27@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True |   NA  |  @F14@,@F15@,@F16@ |
| @I29@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True |   NA  |        @F17@       |
| @I31@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True |   NA  |        @F10@       |
| @I34@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True |   NA  |        @F11@       |
| @I35@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True |   NA  |        @F17@       |
| @I36@ |       Kay /Ali/      |    M   |   1950-9-9  |  69  |  True |   NA  |        @F12@       |
| @I38@ |     Vasu /Zdenek/    |    M   |   1940-8-9  |  79  |  True |   NA  |        @F13@       |
| @I39@ |      Yam /Tarah/     |    M   |   1941-9-9  |  78  |  True |   NA  |        @F15@       |
| @I40@ |    Petros /Ganesh/   |    M   |  1942-10-10 |  77  |  True |   NA  |        @F16@       |
| @I41@ |    Renate /Giotto/   |    M   |   1943-10-9 |  76  |  True |   NA  |        @F14@       |
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
------error messages------
ERROR: INDIVIDUAL: US01: 548: @I12@: Individual has birth date 2021-8-9 later than today
ERROR: INDIVIDUAL: US02: 492: @I14@: Person has marriage date 1968-6-4 before birth date 1970-11-8
ERROR: INDIVIDUAL: US02: 492: @I15@: Person has marriage date 1968-6-4 before birth date 1969-9-8
ERROR: INDIVIDUAL: US09: 139: @I13@: Child was born at 1975-7-8 after death of mother 1974-6-20
ERROR: INDIVIDUAL: US30: 14: @I1@: Deceased Person is married to Person @F1@
ERROR: INDIVIDUAL: US30: 55: @I5@: Deceased Person is married to Person @F5@
ERROR: INDIVIDUAL: US30: 250: @I25@: Deceased Person is married to Person @F13@
-----anomaly messages-----
ANOMALY: INDIVIDUAL: US07: 185: @I18@: More than 150 years old at death - Birth Date 1819-7-8: Death Date 2019-8-2
ANOMALY: INDIVIDUAL: US07: 215: @I21@: More than 150 years old - Birth Date 1820-10-8
ANOMALY: INDIVIDUAL: US08: 185: @I18@: Child was born at 1819-7-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 215: @I21@: Child was born at 1820-10-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 224: @I22@: Child was born at 1923-5-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 112: @I10@: Child was born at 1977-9-8 before marriage of parents 1978-9-2
ANOMALY: INDIVIDUAL: US08: 373: @I37@: Child was born at 1980-9-9 after 9 month divorce of parents 1958-10-9
ANOMALY: INDIVIDUAL: US10: 73: @I6@: Father of family @F1@ is younger than 14 years old - Birth Date 1958-12-6
ANOMALY: INDIVIDUAL: US10: 20: @I1@: Wife of family @F1@ is younger than 14 years old - Birth Date 1958-7-7
ANOMALY: INDIVIDUAL: US10: 51: @I4@: Father of family @F4@ is younger than 14 years old - Birth Date 1962-2-6
ANOMALY: INDIVIDUAL: US10: 205: @I20@: Wife of family @F4@ is younger than 14 years old - Birth Date 1931-9-9
ANOMALY: INDIVIDUAL: US10: 61: @I5@: Father of family @F5@ is younger than 14 years old - Birth Date 1964-10-31
ANOMALY: INDIVIDUAL: US10: 92: @I8@: Wife of family @F5@ is younger than 14 years old - Birth Date 1966-8-8
ANOMALY: INDIVIDUAL: US10: 82: @I7@: Father of family @F6@ is younger than 14 years old - Birth Date 1973-7-6
ANOMALY: INDIVIDUAL: US10: 130: @I12@: Wife of family @F6@ is younger than 14 years old - Birth Date 2021-8-9
ANOMALY: INDIVIDUAL: US10: 148: @I14@: Father of family @F9@ is younger than 14 years old - Birth Date 1970-11-8
ANOMALY: INDIVIDUAL: US10: 158: @I15@: Wife of family @F9@ is younger than 14 years old - Birth Date 1969-9-8
ANOMALY: INDIVIDUAL: US10: 317: @I31@: Wife of family @F10@ is younger than 14 years old - Birth Date 1955-10-17
ANOMALY: INDIVIDUAL: US10: 364: @I36@: Father of family @F12@ is younger than 14 years old - Birth Date 1950-9-9
ANOMALY: FAMILY: US16: @F3@: Family has 16 siblings which is more than 15 siblings
ANOMALY: INDIVIDUAL: US16: @I7@: Individual has different last name Vezon than family Venzon
ANOMALY: INDIVIDUAL: US16: @I11@: Individual has different last name Tung than family Finklea
ANOMALY: INDIVIDUAL: US16: @I19@: Individual has different last name Iglesias than family Finklea
ANOMALY: FAMILY: US20: 457: Person @I20@ should not marry person @I4@
ANOMALY: INDIVIDUAL: US23: @I32@: @I30@: Individuals have the same name Chet /Malagon/ and birth date 1943-8-18
ANOMALY: INDIVIDUAL: US23: @I35@: @I31@: Individuals have the same name Sock /Malagon/ and birth date 1955-10-17
ANOMALY: INDIVIDUAL: US25: @I32@: @I30@: Individuals share the same first name Chet /Malagon/ and birth date 1943-8-18 from family @F3@

In [39]:
family_dic

{'@F1@': {'FAM': '@F1@',
  'FAM_LINE': 412,
  'HUSB_NAME': 'Samuel /Venzon/',
  'HUSB_LINE': 413,
  'HUSB': '@I6@',
  'WIFE_NAME': 'Willodean /Malagon/',
  'WIFE_LINE': 414,
  'WIFE': '@I1@',
  'FAM_CHILD': ['@I7@', '@I13@'],
  'CHIL_LINE_@I7@': 415,
  'CHIL': '@I13@',
  'CHIL_LINE': 416,
  'CHIL_LINE_@I13@': 416,
  'MARR_LINE': 417,
  'MARR': '1970-7-7',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I6@',
   'INDI_LINE': 67,
   'NAME': 'Samuel /Venzon/',
   'NAME_LINE': 68,
   'SEX': 'M',
   'SEX_LINE': 72,
   'BIRT_LINE': 73,
   'BIRT': '1958-12-6',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F1@'],
   'FAMS_LINE': 75,
   'DEAT': 'NA',
   'AGE': '60',
   'ALIVE': True},
  'wife_object': {'INDI': '@I1@',
   'INDI_LINE': 14,
   'NAME': 'Willodean /Malagon/',
   'NAME_LINE': 15,
   'SEX': 'F',
   'SEX_LINE': 19,
   'BIRT_LINE': 20,
   'BIRT': '1958-7-7',
   'DEAT_LINE': 22,
   'DEAT': '1974-6-20',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F1@'],
   'FAMS_LINE': 24,
   'FAMC_LINE': 25,
   'AGE': '15',
   'ALIVE': False},
  'children_objects': [{'INDI': '@I7@',
    'INDI_LINE': 76,
    'NAME': 'Byron /Vezon/',
    'NAME_LINE': 77,
    'SEX': 'M',
    'SEX_LINE': 81,
    'BIRT_LINE': 82,
    'BIRT': '1973-7-6',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F6@'],
    'FAMS_LINE': 84,
    'FAMC_LINE': 85,
    'DEAT': 'NA',
    'AGE': '46',
    'ALIVE': True},
   {'INDI': '@I13@',
    'INDI_LINE': 133,
    'NAME': 'Beth /Venzon/',
    'NAME_LINE': 134,
    'SEX': 'F',
    'SEX_LINE': 138,
    'BIRT_LINE': 139,
    'BIRT': '1975-7-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 141,
    'DEAT': 'NA',
    'AGE': '44',
    'ALIVE': True}]},
 '@F2@': {'FAM': '@F2@',
  'FAM_LINE': 421,
  'HUSB_NAME': 'Stephan /Malagon/',
  'HUSB_LINE': 422,
  'HUSB': '@I2@',
  'WIFE_NAME': 'Laverna /Leonhardt/',
  'WIFE_LINE': 423,
  'WIFE': '@I3@',
  'FAM_CHILD': ['@I1@', '@I4@', '@I5@', '@I14@'],
  'CHIL_LINE_@I1@': 424,
  'CHIL': '@I14@',
  'CHIL_LINE': 427,
  'CHIL_LINE_@I4@': 425,
  'CHIL_LINE_@I5@': 426,
  'CHIL_LINE_@I14@': 427,
  'MARR_LINE': 428,
  'MARR': '1947-9-17',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I2@',
   'INDI_LINE': 26,
   'NAME': 'Stephan /Malagon/',
   'NAME_LINE': 27,
   'SEX': 'M',
   'SEX_LINE': 31,
   'BIRT_LINE': 32,
   'BIRT': '1930-8-21',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F2@'],
   'FAMS_LINE': 34,
   'FAMC_LINE': 35,
   'DEAT': 'NA',
   'AGE': '89',
   'ALIVE': True},
  'wife_object': {'INDI': '@I3@',
   'INDI_LINE': 36,
   'NAME': 'Laverna /Leonhardt/',
   'NAME_LINE': 37,
   'SEX': 'F',
   'SEX_LINE': 41,
   'BIRT_LINE': 42,
   'BIRT': '1932-6-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F2@'],
   'FAMS_LINE': 44,
   'DEAT': 'NA',
   'AGE': '87',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I1@',
    'INDI_LINE': 14,
    'NAME': 'Willodean /Malagon/',
    'NAME_LINE': 15,
    'SEX': 'F',
    'SEX_LINE': 19,
    'BIRT_LINE': 20,
    'BIRT': '1958-7-7',
    'DEAT_LINE': 22,
    'DEAT': '1974-6-20',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F1@'],
    'FAMS_LINE': 24,
    'FAMC_LINE': 25,
    'AGE': '15',
    'ALIVE': False},
   {'INDI': '@I4@',
    'INDI_LINE': 45,
    'NAME': 'Ken /Malagon/',
    'NAME_LINE': 46,
    'SEX': 'M',
    'SEX_LINE': 50,
    'BIRT_LINE': 51,
    'BIRT': '1962-2-6',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F4@'],
    'FAMS_LINE': 53,
    'FAMC_LINE': 54,
    'DEAT': 'NA',
    'AGE': '57',
    'ALIVE': True},
   {'INDI': '@I5@',
    'INDI_LINE': 55,
    'NAME': 'Josh /Malagon/',
    'NAME_LINE': 56,
    'SEX': 'M',
    'SEX_LINE': 60,
    'BIRT_LINE': 61,
    'BIRT': '1964-10-31',
    'DEAT_LINE': 63,
    'DEAT': '1984-5-7',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F5@'],
    'FAMS_LINE': 65,
    'FAMC_LINE': 66,
    'AGE': '19',
    'ALIVE': False},
   {'INDI': '@I14@',
    'INDI_LINE': 142,
    'NAME': 'Jacob /Malagon/',
    'NAME_LINE': 143,
    'SEX': 'M',
    'SEX_LINE': 147,
    'BIRT_LINE': 148,
    'BIRT': '1970-11-8',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F9@'],
    'FAMS_LINE': 150,
    'FAMC_LINE': 151,
    'DEAT': 'NA',
    'AGE': '48',
    'ALIVE': True}]},
 '@F3@': {'FAM': '@F3@',
  'FAM_LINE': 432,
  'HUSB_NAME': 'Johnny /Malagon/',
  'HUSB_LINE': 433,
  'HUSB': '@I16@',
  'WIFE_NAME': 'Lura /Lomas/',
  'WIFE_LINE': 434,
  'WIFE': '@I17@',
  'FAM_CHILD': ['@I2@',
   '@I18@',
   '@I20@',
   '@I21@',
   '@I22@',
   '@I23@',
   '@I24@',
   '@I25@',
   '@I26@',
   '@I27@',
   '@I28@',
   '@I29@',
   '@I30@',
   '@I31@',
   '@I32@',
   '@I33@'],
  'CHIL_LINE_@I2@': 435,
  'CHIL': '@I33@',
  'CHIL_LINE': 450,
  'CHIL_LINE_@I18@': 436,
  'CHIL_LINE_@I20@': 437,
  'CHIL_LINE_@I21@': 438,
  'CHIL_LINE_@I22@': 439,
  'CHIL_LINE_@I23@': 440,
  'CHIL_LINE_@I24@': 441,
  'CHIL_LINE_@I25@': 442,
  'CHIL_LINE_@I26@': 443,
  'CHIL_LINE_@I27@': 444,
  'CHIL_LINE_@I28@': 445,
  'CHIL_LINE_@I29@': 446,
  'CHIL_LINE_@I30@': 447,
  'CHIL_LINE_@I31@': 448,
  'CHIL_LINE_@I32@': 449,
  'CHIL_LINE_@I33@': 450,
  'MARR_LINE': 451,
  'MARR': '1925-4-28',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I16@',
   'INDI_LINE': 161,
   'NAME': 'Johnny /Malagon/',
   'NAME_LINE': 162,
   'SEX': 'M',
   'SEX_LINE': 166,
   'BIRT_LINE': 167,
   'BIRT': '1901-7-14',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'FAMS_LINE': 169,
   'DEAT': 'NA',
   'AGE': '118',
   'ALIVE': True},
  'wife_object': {'INDI': '@I17@',
   'INDI_LINE': 170,
   'NAME': 'Lura /Lomas/',
   'NAME_LINE': 171,
   'SEX': 'F',
   'SEX_LINE': 175,
   'BIRT_LINE': 176,
   'BIRT': '1900-8-30',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'FAMS_LINE': 178,
   'DEAT': 'NA',
   'AGE': '119',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I2@',
    'INDI_LINE': 26,
    'NAME': 'Stephan /Malagon/',
    'NAME_LINE': 27,
    'SEX': 'M',
    'SEX_LINE': 31,
    'BIRT_LINE': 32,
    'BIRT': '1930-8-21',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F2@'],
    'FAMS_LINE': 34,
    'FAMC_LINE': 35,
    'DEAT': 'NA',
    'AGE': '89',
    'ALIVE': True},
   {'INDI': '@I18@',
    'INDI_LINE': 179,
    'NAME': 'Tesha /Malagon/',
    'NAME_LINE': 180,
    'SEX': 'F',
    'SEX_LINE': 184,
    'BIRT_LINE': 185,
    'BIRT': '1819-7-8',
    'DEAT_LINE': 187,
    'DEAT': '2019-8-2',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 189,
    'AGE': '200',
    'ALIVE': False},
   {'INDI': '@I20@',
    'INDI_LINE': 199,
    'NAME': 'Lucile /Malagon/',
    'NAME_LINE': 200,
    'SEX': 'F',
    'SEX_LINE': 204,
    'BIRT_LINE': 205,
    'BIRT': '1931-9-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F4@'],
    'FAMS_LINE': 207,
    'FAMC_LINE': 208,
    'DEAT': 'NA',
    'AGE': '88',
    'ALIVE': True},
   {'INDI': '@I21@',
    'INDI_LINE': 209,
    'NAME': 'Regena /Ali/',
    'NAME_LINE': 210,
    'SEX': 'F',
    'SEX_LINE': 214,
    'BIRT_LINE': 215,
    'BIRT': '1820-10-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 217,
    'DEAT': 'NA',
    'AGE': '199',
    'ALIVE': True},
   {'INDI': '@I22@',
    'INDI_LINE': 218,
    'NAME': 'Tom /Malagon/',
    'NAME_LINE': 219,
    'SEX': 'M',
    'SEX_LINE': 223,
    'BIRT_LINE': 224,
    'BIRT': '1923-5-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F10@', '@F11@'],
    'FAMS_LINE': 227,
    'FAMC_LINE': 228,
    'DEAT': 'NA',
    'AGE': '96',
    'ALIVE': True},
   {'INDI': '@I23@',
    'INDI_LINE': 229,
    'NAME': 'Vonnie /Malagon/',
    'NAME_LINE': 230,
    'SEX': 'M',
    'SEX_LINE': 234,
    'BIRT_LINE': 235,
    'BIRT': '1936-3-10',
    'DEAT_LINE': 237,
    'DEAT': '1937-7-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 239,
    'AGE': '1',
    'ALIVE': False},
   {'INDI': '@I24@',
    'INDI_LINE': 240,
    'NAME': 'Shena /Malagon/',
    'NAME_LINE': 241,
    'SEX': 'F',
    'SEX_LINE': 245,
    'BIRT_LINE': 246,
    'BIRT': '1937-11-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F12@'],
    'FAMS_LINE': 248,
    'FAMC_LINE': 249,
    'DEAT': 'NA',
    'AGE': '81',
    'ALIVE': True},
   {'INDI': '@I25@',
    'INDI_LINE': 250,
    'NAME': 'Hailey /Malagon/',
    'NAME_LINE': 251,
    'SEX': 'F',
    'SEX_LINE': 255,
    'BIRT_LINE': 256,
    'BIRT': '1938-10-8',
    'DEAT_LINE': 258,
    'DEAT': '1958-9-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F13@'],
    'FAMS_LINE': 260,
    'FAMC_LINE': 261,
    'AGE': '19',
    'ALIVE': False},
   {'INDI': '@I26@',
    'INDI_LINE': 262,
    'NAME': 'Milford /Malagon/',
    'NAME_LINE': 263,
    'SEX': 'M',
    'SEX_LINE': 267,
    'BIRT_LINE': 268,
    'BIRT': '1939-11-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 270,
    'DEAT': 'NA',
    'AGE': '79',
    'ALIVE': True},
   {'INDI': '@I27@',
    'INDI_LINE': 271,
    'NAME': 'Rashida /Malagon/',
    'NAME_LINE': 272,
    'SEX': 'F',
    'SEX_LINE': 276,
    'BIRT_LINE': 277,
    'BIRT': '1940-12-7',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F14@', '@F15@', '@F16@'],
    'FAMS_LINE': 281,
    'FAMC_LINE': 282,
    'DEAT': 'NA',
    'AGE': '78',
    'ALIVE': True},
   {'INDI': '@I28@',
    'INDI_LINE': 283,
    'NAME': 'Deeann /Malagon/',
    'NAME_LINE': 284,
    'SEX': 'F',
    'SEX_LINE': 288,
    'BIRT_LINE': 289,
    'BIRT': '1941-10-23',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 291,
    'DEAT': 'NA',
    'AGE': '77',
    'ALIVE': True},
   {'INDI': '@I29@',
    'INDI_LINE': 292,
    'NAME': 'Dario /Malagon/',
    'NAME_LINE': 293,
    'SEX': 'M',
    'SEX_LINE': 297,
    'BIRT_LINE': 298,
    'BIRT': '1942-12-14',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F17@'],
    'FAMS_LINE': 300,
    'FAMC_LINE': 301,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I30@',
    'INDI_LINE': 302,
    'NAME': 'Chet /Malagon/',
    'NAME_LINE': 303,
    'SEX': 'M',
    'SEX_LINE': 307,
    'BIRT_LINE': 308,
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 310,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I31@',
    'INDI_LINE': 311,
    'NAME': 'Sock /Malagon/',
    'NAME_LINE': 312,
    'SEX': 'F',
    'SEX_LINE': 316,
    'BIRT_LINE': 317,
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F10@'],
    'FAMS_LINE': 319,
    'FAMC_LINE': 320,
    'DEAT': 'NA',
    'AGE': '63',
    'ALIVE': True},
   {'INDI': '@I32@',
    'INDI_LINE': 321,
    'NAME': 'Chet /Malagon/',
    'NAME_LINE': 322,
    'SEX': 'M',
    'SEX_LINE': 326,
    'BIRT_LINE': 327,
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 329,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I33@',
    'INDI_LINE': 330,
    'NAME': 'Loyd /Malagon/',
    'NAME_LINE': 331,
    'SEX': 'M',
    'SEX_LINE': 335,
    'BIRT_LINE': 336,
    'BIRT': '1965-8-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 338,
    'DEAT': 'NA',
    'AGE': '54',
    'ALIVE': True}]},
 '@F4@': {'FAM': '@F4@',
  'FAM_LINE': 455,
  'HUSB_NAME': 'Ken /Malagon/',
  'HUSB_LINE': 456,
  'HUSB': '@I4@',
  'WIFE_NAME': 'Lucile /Malagon/',
  'WIFE_LINE': 457,
  'WIFE': '@I20@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I4@',
   'INDI_LINE': 45,
   'NAME': 'Ken /Malagon/',
   'NAME_LINE': 46,
   'SEX': 'M',
   'SEX_LINE': 50,
   'BIRT_LINE': 51,
   'BIRT': '1962-2-6',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F4@'],
   'FAMS_LINE': 53,
   'FAMC_LINE': 54,
   'DEAT': 'NA',
   'AGE': '57',
   'ALIVE': True},
  'wife_object': {'INDI': '@I20@',
   'INDI_LINE': 199,
   'NAME': 'Lucile /Malagon/',
   'NAME_LINE': 200,
   'SEX': 'F',
   'SEX_LINE': 204,
   'BIRT_LINE': 205,
   'BIRT': '1931-9-9',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F4@'],
   'FAMS_LINE': 207,
   'FAMC_LINE': 208,
   'DEAT': 'NA',
   'AGE': '88',
   'ALIVE': True}},
 '@F5@': {'FAM': '@F5@',
  'FAM_LINE': 459,
  'HUSB_NAME': 'Josh /Malagon/',
  'HUSB_LINE': 460,
  'HUSB': '@I5@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE_LINE': 461,
  'WIFE': '@I8@',
  'FAM_CHILD': ['@I10@'],
  'CHIL_LINE_@I10@': 462,
  'CHIL': '@I10@',
  'CHIL_LINE': 462,
  'MARR_LINE': 463,
  'MARR': '1978-9-2',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I5@',
   'INDI_LINE': 55,
   'NAME': 'Josh /Malagon/',
   'NAME_LINE': 56,
   'SEX': 'M',
   'SEX_LINE': 60,
   'BIRT_LINE': 61,
   'BIRT': '1964-10-31',
   'DEAT_LINE': 63,
   'DEAT': '1984-5-7',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F5@'],
   'FAMS_LINE': 65,
   'FAMC_LINE': 66,
   'AGE': '19',
   'ALIVE': False},
  'wife_object': {'INDI': '@I8@',
   'INDI_LINE': 86,
   'NAME': 'Cinda /Burgard/',
   'NAME_LINE': 87,
   'SEX': 'F',
   'SEX_LINE': 91,
   'BIRT_LINE': 92,
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F7@', '@F8@'],
   'FAMS_LINE': 96,
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I10@',
    'INDI_LINE': 106,
    'NAME': 'Ruthe /Malagon/',
    'NAME_LINE': 107,
    'SEX': 'F',
    'SEX_LINE': 111,
    'BIRT_LINE': 112,
    'BIRT': '1977-9-8',
    'INDI_CHILD': ['@F5@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 114,
    'DEAT': 'NA',
    'AGE': '42',
    'ALIVE': True}]},
 '@F7@': {'FAM': '@F7@',
  'FAM_LINE': 470,
  'HUSB_NAME': 'Jerrell /Finklea/',
  'HUSB_LINE': 471,
  'HUSB': '@I9@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE_LINE': 472,
  'WIFE': '@I8@',
  'FAM_CHILD': ['@I11@', '@I19@'],
  'CHIL_LINE_@I11@': 473,
  'CHIL': '@I19@',
  'CHIL_LINE': 474,
  'CHIL_LINE_@I19@': 474,
  'MARR_LINE': 475,
  'MARR': '1985-4-5',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I9@',
   'INDI_LINE': 97,
   'NAME': 'Jerrell /Finklea/',
   'NAME_LINE': 98,
   'SEX': 'M',
   'SEX_LINE': 102,
   'BIRT_LINE': 103,
   'BIRT': '1965-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F7@'],
   'FAMS_LINE': 105,
   'DEAT': 'NA',
   'AGE': '54',
   'ALIVE': True},
  'wife_object': {'INDI': '@I8@',
   'INDI_LINE': 86,
   'NAME': 'Cinda /Burgard/',
   'NAME_LINE': 87,
   'SEX': 'F',
   'SEX_LINE': 91,
   'BIRT_LINE': 92,
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F7@', '@F8@'],
   'FAMS_LINE': 96,
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I11@',
    'INDI_LINE': 115,
    'NAME': 'Darwin /Tung/',
    'NAME_LINE': 116,
    'SEX': 'M',
    'SEX_LINE': 120,
    'BIRT_LINE': 121,
    'BIRT': '1987-9-6',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 123,
    'DEAT': 'NA',
    'AGE': '32',
    'ALIVE': True},
   {'INDI': '@I19@',
    'INDI_LINE': 190,
    'NAME': 'Wilber /Iglesias/',
    'NAME_LINE': 191,
    'SEX': 'M',
    'SEX_LINE': 195,
    'BIRT_LINE': 196,
    'BIRT': '1987-9-6',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 198,
    'DEAT': 'NA',
    'AGE': '32',
    'ALIVE': True}]},
 '@F8@': {'FAM': '@F8@',
  'FAM_LINE': 479,
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE_LINE': 480,
  'WIFE': '@I8@',
  'DIV': 'NA',
  'HUSB': 'NA',
  'HUSB_NAME': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'wife_object': {'INDI': '@I8@',
   'INDI_LINE': 86,
   'NAME': 'Cinda /Burgard/',
   'NAME_LINE': 87,
   'SEX': 'F',
   'SEX_LINE': 91,
   'BIRT_LINE': 92,
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F7@', '@F8@'],
   'FAMS_LINE': 96,
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True}},
 '@F6@': {'FAM': '@F6@',
  'FAM_LINE': 482,
  'HUSB_NAME': 'Byron /Vezon/',
  'HUSB_LINE': 483,
  'HUSB': '@I7@',
  'WIFE_NAME': 'Shyla /Bertone/',
  'WIFE_LINE': 484,
  'WIFE': '@I12@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I7@',
   'INDI_LINE': 76,
   'NAME': 'Byron /Vezon/',
   'NAME_LINE': 77,
   'SEX': 'M',
   'SEX_LINE': 81,
   'BIRT_LINE': 82,
   'BIRT': '1973-7-6',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F6@'],
   'FAMS_LINE': 84,
   'FAMC_LINE': 85,
   'DEAT': 'NA',
   'AGE': '46',
   'ALIVE': True},
  'wife_object': {'INDI': '@I12@',
   'INDI_LINE': 124,
   'NAME': 'Shyla /Bertone/',
   'NAME_LINE': 125,
   'SEX': 'F',
   'SEX_LINE': 129,
   'BIRT_LINE': 130,
   'BIRT': '2021-8-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F6@'],
   'FAMS_LINE': 132,
   'DEAT': 'NA',
   'AGE': '-2',
   'ALIVE': True}},
 '@F9@': {'FAM': '@F9@',
  'FAM_LINE': 489,
  'HUSB_NAME': 'Jacob /Malagon/',
  'HUSB_LINE': 490,
  'HUSB': '@I14@',
  'WIFE_NAME': 'Jaqueline /Kindel/',
  'WIFE_LINE': 491,
  'WIFE': '@I15@',
  'MARR_LINE': 492,
  'MARR': '1968-6-4',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I14@',
   'INDI_LINE': 142,
   'NAME': 'Jacob /Malagon/',
   'NAME_LINE': 143,
   'SEX': 'M',
   'SEX_LINE': 147,
   'BIRT_LINE': 148,
   'BIRT': '1970-11-8',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F9@'],
   'FAMS_LINE': 150,
   'FAMC_LINE': 151,
   'DEAT': 'NA',
   'AGE': '48',
   'ALIVE': True},
  'wife_object': {'INDI': '@I15@',
   'INDI_LINE': 152,
   'NAME': 'Jaqueline /Kindel/',
   'NAME_LINE': 153,
   'SEX': 'F',
   'SEX_LINE': 157,
   'BIRT_LINE': 158,
   'BIRT': '1969-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F9@'],
   'FAMS_LINE': 160,
   'DEAT': 'NA',
   'AGE': '50',
   'ALIVE': True}},
 '@F10@': {'FAM': '@F10@',
  'FAM_LINE': 496,
  'HUSB_NAME': 'Tom /Malagon/',
  'HUSB_LINE': 497,
  'HUSB': '@I22@',
  'WIFE_NAME': 'Sock /Malagon/',
  'WIFE_LINE': 498,
  'WIFE': '@I31@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I22@',
   'INDI_LINE': 218,
   'NAME': 'Tom /Malagon/',
   'NAME_LINE': 219,
   'SEX': 'M',
   'SEX_LINE': 223,
   'BIRT_LINE': 224,
   'BIRT': '1923-5-8',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@', '@F11@'],
   'FAMS_LINE': 227,
   'FAMC_LINE': 228,
   'DEAT': 'NA',
   'AGE': '96',
   'ALIVE': True},
  'wife_object': {'INDI': '@I31@',
   'INDI_LINE': 311,
   'NAME': 'Sock /Malagon/',
   'NAME_LINE': 312,
   'SEX': 'F',
   'SEX_LINE': 316,
   'BIRT_LINE': 317,
   'BIRT': '1955-10-17',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@'],
   'FAMS_LINE': 319,
   'FAMC_LINE': 320,
   'DEAT': 'NA',
   'AGE': '63',
   'ALIVE': True}},
 '@F11@': {'FAM': '@F11@',
  'FAM_LINE': 500,
  'HUSB_NAME': 'Tom /Malagon/',
  'HUSB_LINE': 501,
  'HUSB': '@I22@',
  'WIFE_NAME': 'Kitty /Malagon/',
  'WIFE_LINE': 502,
  'WIFE': '@I34@',
  'FAM_CHILD': ['@I35@'],
  'CHIL_LINE_@I35@': 503,
  'CHIL': '@I35@',
  'CHIL_LINE': 503,
  'MARR_LINE': 504,
  'MARR': '1945-8-5',
  'DIV_LINE': 507,
  'DIV': '1956-7-7',
  'husband_object': {'INDI': '@I22@',
   'INDI_LINE': 218,
   'NAME': 'Tom /Malagon/',
   'NAME_LINE': 219,
   'SEX': 'M',
   'SEX_LINE': 223,
   'BIRT_LINE': 224,
   'BIRT': '1923-5-8',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@', '@F11@'],
   'FAMS_LINE': 227,
   'FAMC_LINE': 228,
   'DEAT': 'NA',
   'AGE': '96',
   'ALIVE': True},
  'wife_object': {'INDI': '@I34@',
   'INDI_LINE': 339,
   'NAME': 'Kitty /Malagon/',
   'NAME_LINE': 340,
   'SEX': 'F',
   'SEX_LINE': 344,
   'BIRT_LINE': 345,
   'BIRT': '1925-6-5',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F11@'],
   'FAMS_LINE': 347,
   'DEAT': 'NA',
   'AGE': '94',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I35@',
    'INDI_LINE': 348,
    'NAME': 'Sock /Malagon/',
    'NAME_LINE': 349,
    'SEX': 'F',
    'SEX_LINE': 353,
    'BIRT_LINE': 354,
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F11@'],
    'SPOUSE': ['@F17@'],
    'FAMS_LINE': 356,
    'FAMC_LINE': 357,
    'DEAT': 'NA',
    'AGE': '63',
    'ALIVE': True}]},
 '@F12@': {'FAM': '@F12@',
  'FAM_LINE': 510,
  'HUSB_NAME': 'Kay /Ali/',
  'HUSB_LINE': 511,
  'HUSB': '@I36@',
  'WIFE_NAME': 'Shena /Malagon/',
  'WIFE_LINE': 512,
  'WIFE': '@I24@',
  'FAM_CHILD': ['@I37@'],
  'CHIL_LINE_@I37@': 513,
  'CHIL': '@I37@',
  'CHIL_LINE': 513,
  'MARR_LINE': 514,
  'MARR': '1957-5-5',
  'DIV_LINE': 517,
  'DIV': '1958-10-9',
  'husband_object': {'INDI': '@I36@',
   'INDI_LINE': 358,
   'NAME': 'Kay /Ali/',
   'NAME_LINE': 359,
   'SEX': 'M',
   'SEX_LINE': 363,
   'BIRT_LINE': 364,
   'BIRT': '1950-9-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F12@'],
   'FAMS_LINE': 366,
   'DEAT': 'NA',
   'AGE': '69',
   'ALIVE': True},