In [1]:
import pytest
import unittest
import mock
import Project
import numpy as np

Requirement already satisfied: prettytable in c:\programdata\anaconda3\lib\site-packages (0.7.2)
People Table
+-------+----------------------+--------+-------------+------+--------+------------+-------+---------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    | Child |     Spouse    |
+-------+----------------------+--------+-------------+------+--------+------------+-------+---------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  61  |  True  |     NA     |  @F2@ |      @F1@     |
|  @I2@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True  |     NA     |  @F3@ |      @F2@     |
|  @I3@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True  |     NA     |   NA  |      @F2@     |
|  @I4@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True  |     NA     |  @F2@ |       NA      |
|  @I5@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |  @F2@ |      @F4@     |
|  @I6@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True  |     NA     |   NA  |      @F1@     |
|  @I7@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True  |     NA     |  @F1@ |      @F5@     |
|  @I8@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True  |     NA     |   NA  |  @F4@@F6@@F7@ |
|  @I9@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True  |     NA     |   NA  |      @F6@     |
| @I10@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True  |     NA     |  @F4@ |       NA      |
| @I11@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F6@ |       NA      |
| @I12@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True  |     NA     |   NA  |      @F5@     |
| @I13@ |     Beth /Venzon/    |    F   |   1975-7-8  |  44  |  True  |     NA     |  @F1@ |       NA      |
| @I14@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True  |     NA     |  @F2@ |      @F8@     |
| @I15@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True  |     NA     |   NA  |      @F8@     |
| @I16@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True  |     NA     |   NA  |      @F3@     |
| @I17@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True  |     NA     |   NA  |      @F3@     |
| @I18@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  True  |     NA     |  @F3@ |       NA      |
| @I19@ |   Wilber /Iglesias/  |    M   |   1988-8-17 |  31  |  True  |     NA     |  @F6@ |       NA      |
| @I20@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True  |     NA     |  @F3@ |       NA      |
| @I21@ |   Regena /Malagon/   |    F   |   1929-10-8 |  89  |  True  |     NA     |  @F3@ |       NA      |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True  |     NA     |  @F3@ |      @F9@     |
| @I23@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |  @F3@ |       NA      |
| @I24@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True  |     NA     |  @F3@ |       NA      |
| @I25@ |   Hailey /Malagon/   |    F   |   1938-10-8 |   0  |  False |  1939-9-18 |  @F3@ |       NA      |
| @I26@ |   Milford /Malagon/  |    M   |   1939-11-8 |  79  |  True  |     NA     |  @F3@ |       NA      |
| @I27@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True  |     NA     |  @F3@ |       NA      |
| @I28@ |   Deeann /Malagon/   |    F   |  1941-10-23 |  77  |  True  |     NA     |  @F3@ |       NA      |
| @I29@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True  |     NA     |  @F3@ |       NA      |
| @I30@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |       NA      |
| @I31@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F3@ |       NA      |
| @I32@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |       NA      |
| @I33@ |    Loyd /Malagon/    |    M   |   1965-8-9  |  54  |  True  |     NA     |  @F3@ |       NA      |
| @I34@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True  |     NA     |   NA  |      @F9@     |
| @I35@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F9@ |       NA      |
+-------+----------------------+--------+-------------+------+--------+------------+-------+---------------+
Families Table
+------+------------+----------+------------+--------------------+---------+----------------------+----------------------------------------------------------------------------------+
|  ID  |  Married   | Divorced | Husband ID |    Husband Name    | Wife ID |      Wife Name       |                                     Children                                     |
+------+------------+----------+------------+--------------------+---------+----------------------+----------------------------------------------------------------------------------+
| @F1@ |  1970-7-7  |    NA    |    @I6@    |   Samuel /Venzon/  |   @I1@  |  Willodean /Malagon/ |                                     @I7@@I13@                                    |
| @F2@ |  1947-9-17 |    NA    |    @I2@    |  Stephan /Malagon/ |   @I3@  |  Laverna /Leonhardt/ |                                 @I1@@I4@@I5@@I14@                                |
| @F3@ |  1925-4-28 |    NA    |    @I16@   |  Johnny /Malagon/  |   @I17@ |     Lura /Lomas/     |  @I2@@I18@@I20@@I21@@I22@@I23@@I24@@I25@@I26@@I27@@I28@@I29@@I30@@I31@@I32@@I33@ |
| @F4@ |  1978-9-2  |    NA    |    @I5@    |   Josh /Malagon/   |   @I8@  |    Cinda /Burgard/   |                                       @I10@                                      |
| @F6@ |  1985-4-5  |    NA    |    @I9@    |  Jerrell /Finklea/ |   @I8@  |    Cinda /Burgard/   |                                    @I11@@I19@                                    |
| @F7@ |     NA     |    NA    |     NA     |         NA         |   @I8@  |    Cinda /Burgard/   |                                        NA                                        |
| @F5@ |     NA     |    NA    |    @I7@    |    Byron /Vezon/   |   @I12@ |    Shyla /Bertone/   |                                        NA                                        |
| @F8@ |  1968-6-4  |    NA    |    @I14@   |   Jacob /Malagon/  |   @I15@ |  Jaqueline /Kindel/  |                                        NA                                        |
| @F9@ |  1945-8-5  |    NA    |    @I22@   |    Tom /Malagon/   |   @I34@ |    Kitty /Malagon/   |                                       @I35@                                      |
+------+------------+----------+------------+--------------------+---------+----------------------+----------------------------------------------------------------------------------+
User_Story_29: List all deceased individuals in a GEDCOM file
US29: Deceased People Table
+-------+-------------------+--------+-------------+-----+--------+------------+
|   ID  |        Name       | Gender |   Birthday  | Age | Alive  |   Death    |
+-------+-------------------+--------+-------------+-----+--------+------------+
|  @I5@ |   Josh /Malagon/  |    M   |  1964-10-31 |  19 |  False |  1984-5-7  |
| @I23@ |  Vonnie /Malagon/ |    M   |   1936-3-10 |   1 |  False |  1937-7-6  |
| @I25@ |  Hailey /Malagon/ |    F   |   1938-10-8 |   0 |  False |  1939-9-18 |
+-------+-------------------+--------+-------------+-----+--------+------------+
User_Story_30: List all living married people in a GEDCOM file
ERROR: INDIVIDUAL: US30 Deceased Person @I5@ who is Married to @F4@
US30: Living & Married People Table
+-------+----------------------+--------+------------+------+-------+-------+---------------+
|   ID  |         Name         | Gender |  Birthday  | Age  | Alive | Death |     Spouse    |
+-------+----------------------+--------+------------+------+-------+-------+---------------+
|  @I1@ |  Willodean /Malagon/ |    F   |  1958-7-7  |  61  |  True |   NA  |      @F1@     |
|  @I2@ |   Stephan /Malagon/  |    M   |  1930-8-21 |  89  |  True |   NA  |      @F2@     |
|  @I3@ |  Laverna /Leonhardt/ |    F   |  1932-6-9  |  87  |  True |   NA  |      @F2@     |
|  @I6@ |    Samuel /Venzon/   |    M   |  1958-12-6 |  60  |  True |   NA  |      @F1@     |
|  @I7@ |     Byron /Vezon/    |    M   |  1973-7-6  |  46  |  True |   NA  |      @F5@     |
|  @I8@ |    Cinda /Burgard/   |    F   |  1966-8-8  |  53  |  True |   NA  |  @F4@@F6@@F7@ |
|  @I9@ |   Jerrell /Finklea/  |    M   |  1965-9-8  |  54  |  True |   NA  |      @F6@     |
| @I12@ |    Shyla /Bertone/   |    F   |  2021-8-9  |  -2  |  True |   NA  |      @F5@     |
| @I14@ |    Jacob /Malagon/   |    M   |  1970-11-8 |  48  |  True |   NA  |      @F8@     |
| @I15@ |  Jaqueline /Kindel/  |    F   |  1969-9-8  |  50  |  True |   NA  |      @F8@     |
| @I16@ |   Johnny /Malagon/   |    M   |  1901-7-14 |  118 |  True |   NA  |      @F3@     |
| @I17@ |     Lura /Lomas/     |    F   |  1900-8-30 |  119 |  True |   NA  |      @F3@     |
| @I22@ |     Tom /Malagon/    |    M   |  1923-5-8  |  96  |  True |   NA  |      @F9@     |
| @I34@ |    Kitty /Malagon/   |    F   |  1925-6-5  |  94  |  True |   NA  |      @F9@     |
+-------+----------------------+--------+------------+------+-------+-------+---------------+
------error messages------
ERROR: INDIVIDUAL: US01: @I12@: Individual has Birthday Date 2021-8-9 later than Today.
ERROR: INDIVIDUAL: US30 Deceased Person @I5@ who is Married to @F4@
ERROR: INDIVIDUAL: US02 Person @I14@ has marriage date 1968-6-4 before birth date 1970-11-8
ERROR: INDIVIDUAL: US02 Person @I15@ has marriage date 1968-6-4 before birth date 1969-9-8
-----anomaly messages-----
ANOMOLY: INDIVIDUAL: US10: @I18@: Individual Tesha /Malagon/ is older than 150.
ANOMOLY: INDIVIDUAL: US07: @I6@: Father Samuel /Venzon/ of family @F1@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I1@: Wife Willodean /Malagon/ of family @F1@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I5@: Father Josh /Malagon/ of family @F4@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I8@: Wife Cinda /Burgard/ of family @F4@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I7@: Father Byron /Vezon/ of family @F5@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I12@: Wife Shyla /Bertone/ of family @F5@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I14@: Father Jacob /Malagon/ of family @F8@ is younger than 14.
ANOMOLY: INDIVIDUAL: US07: @I15@: Wife Jaqueline /Kindel/ of family @F8@ is younger than 14.
ANOMOLY: FAMILY: US16: @F3@: Family has 16 siblings which is more than 15 siblings
ANOMOLY: INDIVIDUAL: US16: @I7@: Individual has different last name Vezon than family Venzon
ANOMOLY: INDIVIDUAL: US16: @I11@: Individual has different last name Tung than family Finklea
ANOMOLY: INDIVIDUAL: US16: @I19@: Individual has different last name Iglesias than family Finklea
ANOMOLY: INDIVIDUAL: US23: @I32@: Person @I30@ has the same Name Chet /Malagon/ and Birth Date 1943-8-18
ANOMOLY: INDIVIDUAL: US23: @I35@: Person @I31@ has the same Name Sock /Malagon/ and Birth Date 1955-10-17
ANOMOLY: INDIVIDUAL: US25: @I32@: Person @I30@ has the same names Chet /Malagon/ and Birth Date 1943-8-18

In [2]:
def test_dates_pass():
    
    family_dic={'@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'George /Nickson/',
  'HUSB': '@I18@',
  'WIFE_NAME': 'Kitty /Nilson/',
  'WIFE': '@I13@',
  'FAM_CHILD': ['@I19@'],
  'CHIL': '@I19@',
  'MARR': '2020-3-24',
  'DIV': '2021-3-24',
  'husband_object': {'INDI': '@I18@',
   'NAME': 'George /Nickson/',
   'SEX': 'M',
   'BIRT': '1980-3-17',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '45',
   'ALIVE': True},
  'wife_object': {'INDI': '@I13@',
   'NAME': 'Kitty /Nilson/',
   'SEX': 'F',
   'BIRT': '1980-7-10',
   'INDI_CHILD': ['@F5@'],
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '39',
   'ALIVE': True}}}
    
    
    individuals={'@I1@': {'INDI': '@I1@',
  'NAME': 'Jimmy /Colon/',
  'SEX': 'M',
  'BIRT': '2030-12-10',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'DEAT': 'NA',
  'AGE': '9',
  'ALIVE': True},
 '@I2@': {'INDI': '@I2@',
  'NAME': 'Helen /Colon/',
  'SEX': 'F',
  'BIRT': '2000-12-10',
  'DEAT': '2020-6-2',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'AGE': '81',
  'ALIVE': False}}
    
    Project.family_dic = family_dic
    Project.individuals=individuals
    Project.error_array = []
    Project.validate_dates()

    return Project.error_array==['ERROR: FAMILY: US01: @F8@: Family has Marrige Date 2020-3-24 later than Today.',
                                 'ERROR: FAMILY: US01: @F8@: Family has Divorce Date 2021-3-24 later than Today.',
                                 'ERROR: INDIVIDUAL: US01: @I1@: Individual has Birthday Date 2030-12-10 later than Today.',
                                 'ERROR: INDIVIDUAL: US01: @I2@: Individual has Death Date 2020-6-2 later than Today.']

In [3]:
def test_dates_error():
    
    family_dic={'@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'George /Nickson/',
  'HUSB': '@I18@',
  'WIFE_NAME': 'Kitty /Nilson/',
  'WIFE': '@I13@',
  'FAM_CHILD': ['@I19@'],
  'CHIL': '@I19@',
  'MARR': '2020-3-24',
  'DIV': '2021-3-24'}}
    
    
    individuals={'@I1@': {'INDI': '@I1@',
  'NAME': 'Jimmy /Colon/',
  'SEX': 'M',
  'BIRT': '2030-12-10',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'DEAT': 'NA',
  'AGE': '9',
  'ALIVE': True},
 '@I2@': {'INDI': '@I2@',
  'NAME': 'Helen /Colon/',
  'SEX': 'F',
  'BIRT': '2000-12-10',
  'DEAT': '2020-6-2',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'AGE': '81',
  'ALIVE': False}}
    
    Project.family_dic = family_dic
    Project.individuals=individuals
    Project.error_array = []
    Project.validate_dates()

    return Project.error_array==['ERROR: FAMILY: US01: @F8@: Family has Marrige Date 2020-3-24 later than Today.',
                                 'ERROR: FAMILY: US01: @F8@: Family has Divorce Date 2021-3-24 later than Today.',
                                 'ERROR: INDIVIDUAL: US01: @I1@: Individual has Birthday Date 2030-12-10 later than Today.',
                                 'ERROR: INDIVIDUAL: US01: @I2@: Individual has Death Date 2020-6-2 later than Today.']

In [4]:
def test_dates_pass():
    
    family_dic={'@F1@': {'FAM': '@F1@',
  'HUSB_NAME': 'Samuel /Venzon/',
  'HUSB': '@I6@',
  'WIFE_NAME': 'Willodean /Malagon/',
  'WIFE': '@I1@',
  'FAM_CHILD': ['@I7@', '@I13@'],
  'CHIL': '@I13@',
  'MARR': '1970-7-7',
  'DIV': 'NA'}}
    
    
    individuals={'@I9@': {'INDI': '@I9@',
  'NAME': 'Jerrell /Finklea/',
  'SEX': 'M',
  'BIRT': '1965-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F6@'],
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True}}
    
    Project.family_dic = family_dic
    Project.individuals=individuals
    Project.error_array = []
    Project.validate_dates()

    return len(Project.error_array)==0

In [5]:
def test_not_legal_marriage():
    family_dic =  {'@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'George /Nickson/',
  'HUSB': '@I18@',
  'WIFE_NAME': 'Kitty /Nilson/',
  'WIFE': '@I13@',
  'FAM_CHILD': ['@I19@'],
  'CHIL': '@I19@',
  'MARR': '1991-3-24',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I18@',
   'NAME': 'George /Nickson/',
   'SEX': 'M',
   'BIRT': '1980-3-17',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '45',
   'ALIVE': True},
  'wife_object': {'INDI': '@I13@',
   'NAME': 'Kitty /Nilson/',
   'SEX': 'F',
   'BIRT': '1980-7-10',
   'INDI_CHILD': ['@F5@'],
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '39',
   'ALIVE': True}}}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.is_marriage_legal()

    return Project.anomaly_array[0]=="ANOMOLY: INDIVIDUAL: US07: @I18@: Father George /Nickson/ of family @F8@ is younger than 14." and Project.anomaly_array[1]=="ANOMOLY: INDIVIDUAL: US07: @I13@: Wife Kitty /Nilson/ of family @F8@ is younger than 14."

In [6]:
def test_legal_marriage():
    family_dic =  {'@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'George /Nickson/',
  'HUSB': '@I18@',
  'WIFE_NAME': 'Kitty /Nilson/',
  'WIFE': '@I13@',
  'FAM_CHILD': ['@I19@'],
  'CHIL': '@I19@',
  'MARR': '2000-3-24',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I18@',
   'NAME': 'George /Nickson/',
   'SEX': 'M',
   'BIRT': '1973-3-17',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '45',
   'ALIVE': True},
  'wife_object': {'INDI': '@I13@',
   'NAME': 'Kitty /Nilson/',
   'SEX': 'F',
   'BIRT': '1980-7-10',
   'INDI_CHILD': ['@F5@'],
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '39',
   'ALIVE': True}}}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.is_marriage_legal()

    return len(Project.anomaly_array) == 0

In [7]:
def test_over_age_150():
    individuals={'@I1@': {'INDI': '@I1@',
  'NAME': 'Jimmy /Colon/',
  'SEX': 'M',
  'BIRT': '1860-6-5',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'DEAT': 'NA',
  'AGE': '159',
  'ALIVE': True},
 '@I2@': {'INDI': '@I2@',
  'NAME': 'Helen /Colon/',
  'SEX': 'F',
  'BIRT': '1920-12-10',
  'DEAT': '2002-6-2',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'AGE': '81',
  'ALIVE': False}}
                 
    Project.individuals = individuals
    Project.anomaly_array = []
    Project.is_age_legal()
    return Project.anomaly_array[0]=='ANOMOLY: INDIVIDUAL: US10: @I1@: Individual Jimmy /Colon/ is older than 150.'

In [8]:
def test_less_age_150():
    individuals={'@I3@': {'INDI': '@I3@',
  'NAME': 'Dora /Colon/',
  'SEX': 'F',
  'BIRT': '1951-4-5',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F3@', '@F4@'],
  'DEAT': 'NA',
  'AGE': '68',
  'ALIVE': True},
 '@I4@': {'INDI': '@I4@',
  'NAME': 'Rurra /Colon/',
  'SEX': 'F',
  'BIRT': '1952-9-8',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F5@'],
  'DEAT': 'NA',
  'AGE': '66',
  'ALIVE': True}}
                 
    Project.individuals = individuals
    Project.anomaly_array = []
    Project.is_age_legal()
    
    return len(Project.anomaly_array) == 0

In [9]:
# User_Story_29: List all deceased individuals in a GEDCOM file
# Success test 
@mock.patch("Project.printTable")
def test_list_deceased_individuals_success(mock_printTable):
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT"]
    current_dic = {'@I6@': {'INDI': '@I6@', 'NAME': 'Stephen /Chang/', 'SEX': 'M', 'BIRT': '1935-12-5', 'DEAT': '2005-4-15', 'INDI_CHILD': 'NA', 'SPOUSE': ['@F2@'], 'AGE': '70', 'ALIVE': False}}
    Project.individuals = current_dic
    Project.listDeceased()
    mock_printTable.assert_called_with("US29: Deceased People Table", allFields, tagNames, current_dic)
    return True

In [10]:
# User_Story_29: List all deceased individuals in a GEDCOM file
# Failed test: Person is dead but has no Death Date
@mock.patch("Project.printTable")
def test_list_deceased_individuals_error(mock_printTable):
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT"]
    current_dic = {'@I6@': {'INDI': '@I6@', 'NAME': 'David /Chang/', 'SEX': 'M', 'BIRT': '2002-12-5', 'DEAT': 'NA', 'INDI_CHILD': 'NA', 'SPOUSE': ['@F7@'], 'AGE': '79', 'ALIVE': False}}
    Project.individuals = current_dic
    Project.listDeceased()
    mock_printTable.assert_called_with("US29: Deceased People Table", allFields, tagNames, {}) #provide empty dictionary so that it won't overwrite
    return True

In [11]:
# User_Story_30: List all living married people in a GEDCOM file
# Success test
@mock.patch("Project.printTable")
def test_list_living_married_individuals_success(mock_printTable):

    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "SPOUSE"]
    current_dic = {'@I1@': {'INDI': '@I1@', 'NAME': 'Johnny /Chang/', 'SEX': 'M', 'BIRT': '1958-9-6', 'INDI_CHILD': ['@F2@'], 'SPOUSE': ['@F1@'], 'DEAT': 'NA', 'AGE': '61', 'ALIVE': True}}
    Project.individuals = current_dic
    Project.listLivingMarried()
    mock_printTable.assert_called_with("US30: Living & Married People Table", allFields, tagNames, current_dic)
    return True

In [12]:
# User_Story_30: List all living married people in a GEDCOM file
# Failed test
@mock.patch("Project.printTable")
def test_list_living_married_individuals_error(mock_printTable):
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "SPOUSE"]
    current_dic = {'@I4@': {'INDI': '@I1@', 'NAME': 'Michael /Chang/', 'SEX': 'M', 'BIRT': '1958-9-6', 'INDI_CHILD': ['@F2@'], 'SPOUSE': ['@F3@'], 'DEAT': '2002-9-6', 'AGE': '61', 'ALIVE': False}}
    Project.individuals = current_dic
    Project.listLivingMarried()
    mock_printTable.assert_called_with("US30: Living & Married People Table", allFields, tagNames, {}) #provide empty dictionary so that it won't overwrite
    return True

In [13]:
def test_more_than_15_siblings():
    family_dic = {'@F1@':{'FAM_CHILD':['@I1@','@I10@','@I11@','@I12@','@I13@','@I14@','@I15@','@I16@','@I17@','@I18@','@I19@','@I20@','@I21@','@I22@','@I23@','@I24@','@I24@']}}
    Project.family_dic = family_dic
    Project.anomaly_array = []
    
    Project.check_sibling_count()

    assert Project.anomaly_array[0] == 'ANOMOLY: FAMILY: US16: @F1@: Family has 17 siblings which is more than 15 siblings'
    return True

In [14]:
def test_less_than_15_siblings():
    family_dic = {'@F1@':{'FAM_CHILD':['@I1@']}}
    Project.family_dic = family_dic
    Project.anomaly_array = []
    
    Project.check_sibling_count()

    assert len(Project.anomaly_array) == 0
    return True

In [15]:
def test_different_male_last_name():
    family_dic = {'@F1@':{'HUSB_NAME':'Harry /Potter/','FAM_CHILD':['@I1@','@I10@'],'children_objects':[{'INDI':'@I1@', 'SEX':'M','NAME':'Chandler /Bing/'},{'INDI':'@I10@', 'SEX':'M','NAME':'Chandler /Potter/'}]}}
    Project.family_dic = family_dic
    Project.anomaly_array = []
    
    Project.check_last_names()
    assert Project.anomaly_array[0] == 'ANOMOLY: INDIVIDUAL: US16: @I1@: Individual has different last name Bing than family Potter'
    return True

In [16]:
def test_same_male_last_name():
    family_dic = {'@F1@':{'HUSB_NAME':'Harry /Potter/','FAM_CHILD':['@I1@','@I10@'],'children_objects':[{'INDI':'@I1@', 'SEX':'M','NAME':'Joey /Potter/'},{'INDI':'@I10@', 'SEX':'M','NAME':'Chandler /Potter/'}]}}
    Project.family_dic = family_dic
    Project.anomaly_array = []
    
    Project.check_last_names()

    assert len(Project.anomaly_array) == 0
    return True

In [17]:
def test_birth_after_marraige_appended_to_error():
    family_dic = {'@F1@':{'MARR':'1968-6-4','husband_object':{'INDI':'@I1@','BIRT':'1970-11-8'},'wife_object':{'INDI':'@I2@','BIRT':'1960-11-8'}}}
    Project.family_dic = family_dic
    Project.error_array = []
    
    Project.is_birth_before_marraige()
    
    assert Project.error_array[0] == "ERROR: INDIVIDUAL: US02 Person @I1@ has marriage date 1968-6-4 before birth date 1970-11-8"
    return True

In [18]:
def test_birth_before_marraige_do_nothing():
    family_dic = {'@F1@':{'MARR':'1968-6-4','husband_object':{'INDI':'@I1@','BIRT':'1950-11-8'},'wife_object':{'INDI':'@I2@','BIRT':'1960-11-8'}}}
    Project.family_dic = family_dic
    Project.error_array = []
    
    Project.is_birth_before_marraige()
    
    assert len(Project.error_array) == 0
    return True

In [ ]:
def test_unique_name_and_birth():
    individuals={'@I31@': {'INDI': '@I31@',
      'NAME': 'Sock /Malagon/',
      'SEX': 'F',
      'BIRT': '1955-10-17',
      'INDI_CHILD': ['@F3@'],
      'SPOUSE': 'NA',
      'DEAT': 'NA',
      'AGE': '63',
      'ALIVE': True},
     '@I35@': {'INDI': '@I35@',
      'NAME': 'Sock /Malagon/',
      'SEX': 'F',
      'BIRT': '1955-10-17',
      'INDI_CHILD': ['@F9@'],
      'SPOUSE': 'NA',
      'DEAT': 'NA',
      'AGE': '63',
      'ALIVE': True}}
        

    Project.individuals = individuals
    Project.anomaly_array = []
    
    Project.unique_name_and_birth()

    assert Project.error_array[] == "ANOMOLY: INDIVIDUAL: US23: @I32@: Person @I30@ has the same Name Chet /Malagon/ and Birth Date 1943-8-18"
    return True

In [ ]:
def test_notunique_name_and_birth():
    individuals={'@I3@': {'INDI': '@I3@',
      'NAME': 'Dora /Colon/',
      'SEX': 'F',
      'BIRT': '1951-4-5',
      'INDI_CHILD': ['@F1@'],
      'SPOUSE': ['@F3@', '@F4@'],
      'DEAT': 'NA',
      'AGE': '68',
      'ALIVE': True},
     '@I4@': {'INDI': '@I4@',
      'NAME': 'Rurra /Colon/',
      'SEX': 'F',
      'BIRT': '1952-9-8',
      'INDI_CHILD': ['@F1@'],
      'SPOUSE': ['@F5@'],
      'DEAT': 'NA',
      'AGE': '66',
      'ALIVE': True}}
    
    Project.individuals = individuals
    Project.anomaly_array = [] 
    Project.unique_name_and_birth()
    
    assert len(Project.anomaly_array) == 0
    return True

In [ ]:
def test_unique_family_name_and_birth():
    family_dic = {'@F3@': {'FAM': '@F3@',
        'HUSB_NAME': 'Johnny /Malagon/',
        'HUSB': '@I16@',
        'WIFE_NAME': 'Lura /Lomas/',
        'WIFE': '@I17@',
        'FAM_CHILD': [
        '@I30@',
        '@I31@',
        '@I32@'],
        'MARR': '1925-4-28',
        'DIV': 'NA',
        'ALIVE': True},
        'children_objects': [{'INDI': '@I30@',
        'NAME': 'Chet /Malagon/',
        'SEX': 'M',
        'BIRT': '1943-8-18',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '76',
        'ALIVE': True},
        {'INDI': '@I32@',
        'NAME': 'Chet /Malagon/',
        'SEX': 'M',
        'BIRT': '1943-8-18',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '76',
        'ALIVE': True}]}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.unique_family_name_and_birth()

    assert Project.error_array[] == "ANOMOLY: INDIVIDUAL: US25: @I32@: Person @I30@ has the same First Family name Chet /Malagon/ and Birth Date 1943-8-18"
    return True

In [ ]:
def test_notunique_family_name_and_birth():
    family_dic =  {'children_objects': [{'INDI': '@I30@',
        'NAME': 'Chet /Malagon/',
        'SEX': 'M',
        'BIRT': '1943-8-18',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '76',
        'ALIVE': True},
       {'INDI': '@I31@',
        'NAME': 'Sock /Malagon/',
        'SEX': 'F',
        'BIRT': '1955-10-17',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '63',
        'ALIVE': True}]}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.unique_family_name_and_birth()

    assert len(Project.anomaly_array) == 0
    return True

In [19]:
import unittest

class TestStringMethods(unittest.TestCase):
    
    def test_dates_after_today_error(self):
        self.assertTrue(test_dates_error())
    def test_dates_after_today_pass(self):
        self.assertTrue(test_dates_pass())
    def test_not_legal_marriage(self):
        self.assertTrue(test_not_legal_marriage())
    def test_legal_marriage(self):
        self.assertTrue(test_legal_marriage())
    def test_over_age_150(self):
        self.assertTrue(test_over_age_150())
    def test_less_age_150(self):
        self.assertTrue(test_less_age_150())
    def test_List_Deceased_success(self):
        self.assertTrue(test_list_deceased_individuals_success())
    def test_List_Deceased_fail(self):
        self.assertTrue(test_list_deceased_individuals_error())
    def test_List_Living_Married_success(self):
        self.assertTrue(test_list_living_married_individuals_success())
    def test_List_Living_Married_fail(self):
        self.assertTrue(test_list_living_married_individuals_error())
    def test_More_Than_15_Siblings(self):
        self.assertTrue(test_more_than_15_siblings())
    def test_Less_Than_15_Siblings(self):
        self.assertTrue(test_less_than_15_siblings())
    def test_Different_Male_Last_Name(self):
        self.assertTrue(test_different_male_last_name())
    def test_Same_Male_Last_Name(self):
        self.assertTrue(test_same_male_last_name());
    def test_Birth_After_Marraige_Appended_To_Error(self):
        self.assertTrue(test_birth_after_marraige_appended_to_error());
    def test_Birth_Before_Marraige_Do_Nothing(self):
        self.assertTrue(test_birth_before_marraige_do_nothing());
    def test_unique_name_and_birth(self):
        self.assertTrue(test_unique_name_and_birth());
    def test_notunique_name_and_birth(self):
        self.assertTrue(test_notunique_name_and_birth());
    def test_unique_family_name_and_birth(self):
        self.assertTrue(test_unique_family_name_and_birth());
    def test_notunique_family_name_and_birth(self):
        self.assertTrue(test_notunique_family_name_and_birth());

suite = unittest.TestLoader().loadTestsFromTestCase(TestStringMethods)
unittest.TextTestRunner(verbosity=2).run(suite)

test_Birth_After_Marraige_Appended_To_Error (__main__.TestStringMethods) ... ok
test_Birth_Before_Marraige_Do_Nothing (__main__.TestStringMethods) ... ok
test_Different_Male_Last_Name (__main__.TestStringMethods) ... ok
test_Less_Than_15_Siblings (__main__.TestStringMethods) ... ok
test_List_Deceased_fail (__main__.TestStringMethods) ... ok
test_List_Deceased_success (__main__.TestStringMethods) ... ok
test_List_Living_Married_fail (__main__.TestStringMethods) ... ok
test_List_Living_Married_success (__main__.TestStringMethods) ... ok
test_More_Than_15_Siblings (__main__.TestStringMethods) ... ok
test_Same_Male_Last_Name (__main__.TestStringMethods) ... ok
test_dates_after_today_error (__main__.TestStringMethods) ... ok
test_dates_after_today_pass (__main__.TestStringMethods) ... ok
test_legal_marriage (__main__.TestStringMethods) ... ok
test_less_age_150 (__main__.TestStringMethods) ... ok
test_not_legal_marriage (__main__.TestStringMethods) ... ok
test_over_age_150 (__main__.TestStringMethods) ...

User_Story_29: List all deceased individuals in a GEDCOM file
ERROR: INDIVIDUAL: US29 Person @I6@ is dead but has no Death Date
User_Story_29: List all deceased individuals in a GEDCOM file
User_Story_30: List all living married people in a GEDCOM file
ERROR: INDIVIDUAL: US30 Deceased Person @I1@ who is Married to @F3@
User_Story_30: List all living married people in a GEDCOM file

ok

----------------------------------------------------------------------
Ran 16 tests in 0.040s

OK